@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.selectContainer{
    position: relative;
}

.innerDiv{
    height: 100%;
    /*font-size: 16px;*/
    font-size: 1rem;
    color: var(--inputColor);
    vertical-align: middle;
    padding: 15px;
    flex-grow:1;    
}


.innerInput{
    composes: innerDiv;
    background: transparent;
    border: none;   
}

.innerInput::placeholder {
    color: #bebebe;
}
 

.selectIcon{
    min-width: 50px;
    height: 100%;
    background: url(assets/images/arrows/select-arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    vertical-align: middle;
}

.labelContainer{
    font-family: var(--inputFontFamily);
    color: var(--inputColor);
    /*font-size: 14px;*/
    font-size: 0.875rem;
    border-radius: 8px;
    background: var(--inputBackground);
    min-width:120px;
    height:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
    border: none;
    padding:0;
}

.overlay{
    position:fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background: transparent;
    z-index: 4;
}

.optionsContainer{
    position: absolute;
    background: var(--inputBackground);
    width:100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    top:46px;
    z-index: 5;
}

.optionsContainer ul{
    list-style: none;
    padding:0;
    margin:0;
}


.optionsContainer ul li{
    font-family: var(--inputFontFamily);
    padding:10px;
    color: var(--inputFontColor);
    cursor:pointer;
}

.optionsContainer ul li:first-child{
    border-top: 1px solid #e4e4e4;
}

.optionsContainer ul li:last-child{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}

.optionsContainer ul li:hover{
    background: #e4e4e4;
}

.selectedOption{
    background: #e4e4e4;
}


.label {
    color: #6b6b6b;
    /*font-size: 16px;*/
    font-size: 1rem;
    margin-bottom: 10px;
}

.selectContainer .description{
    display: block;
    color: #b3b3b3;
    font-size: .78571428571rem;
    margin: 1px 0px 0px 3px;
}
