@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.componentContainer{
    display: flex;
}

.selectContainer{
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
}

.innerDiv{
    display: flex;
    /*font-size: 16px;*/
    font-size: 1rem;
    color: var(--inputColor);
    vertical-align: middle;
    padding: 15px;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    width: 0;
    line-height: 18px;
}

.innerInput{
    composes: innerDiv;
    outline: none;
    background: transparent;
    border: none;
}

.innerInput::placeholder {
    color: #bebebe;
    font-style: italic;
}
 
.selectIcon{
    min-width: 50px;
    background: url('../../assets/images/arrows/select-arrow.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    vertical-align: middle;
}

.checkIcon {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    user-select: none;
}

.labelContainer{
    font-family: var(--inputFontFamily);
    color: var(--inputColor);
    /*font-size: 14px;*/
    font-size: 0.875rem;
    border-radius: 8px;
    background: var(--inputBackground);
    /* min-width:120px; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    padding-top: 15px;
    cursor: pointer;
    border: none;
    padding:0;
    flex-grow: 1;
    flex-shrink: 1;
}

.overlay{
    position:fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background: transparent;
    z-index: 4;
}

.optionsContainer{
    position: absolute;
    background: var(--inputBackground);
    width: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    top:46px;
    left: 0px;
    right: 0px;
    z-index: 5;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0px 5px 25px -7px rgba(0, 0, 0, 0.1);
}

.optionsContainer ul{
    list-style: none;
    padding:0;
    margin:0;
}

.optionsContainer ul li{
    font-family: var(--inputFontFamily);
    padding:10px;
    color: var(--inputFontColor);
    cursor:pointer;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
}

.optionsContainer ul li{
    border-top: 1px solid #e4e4e4;
}

.optionsContainer ul div:last-child li{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.column {
    flex-direction: column;
}

.optionsContainer ul div:hover li{
    background: #e4e4e4;
}

.selectedOption{
    background: #e4e4e4;
}

.label {
    color: #6b6b6b;
    /*font-size: 16px;*/
    font-size: .92857142857rem; 
    flex-basis: 150px;
    padding-top: 15px;
}

.topLabel {
    flex-basis: auto;
    padding-top: 0px;
    margin-left: 3px;
}

.description{
    /* position: absolute;
    bottom: -19px; */
    display: block;
    color: var(--italicDescription);
    font-size: .78571428571rem;
    margin-top: 10px;
}

.success{
    box-shadow: inset 0px 0px 0px 2px #00cc44;
}

.error{
    box-shadow: inset 0px 0px 0px 2px #ec3232;
}

.descError{
    color: #ec3232;
}

.descSuccess{
    color: #00cc44;
}

.lockContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background: #5ccdde;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 12px 20px;
    cursor: initial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.spinner {
    position: absolute;
    right: 60px;
    top: 11px;
    width: 25px;
    animation: spin 2s linear infinite;
}

.alternateSpinner {
    position: absolute;
    right: 35px;
    top: 11px;
    width: 15px;
    animation: spin 2s linear infinite;
}

.lockText {
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.close {
    margin-left: 12px;
    height: 16px;
    width: 16px;
    font-size: 16px;
    font-weight: 800;
    user-select: none;
    cursor: pointer;
}

.arrowContainer {
    min-width: 35px;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.arrowDown {
    position: absolute;
    height: 0px;
    width: 0px;
    /* position: absolute; */
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.arrowUp {
    position: absolute;

    height: 0px;
    width: 0px;
    /* position: absolute; */
    border-color: transparent transparent #999;
    border-style: solid;
    border-width: 0px 5px 5px;
    margin: 0 auto;
    top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.arrowDownLocked {
    cursor: pointer;
    height: 0px;
    margin-top: 3px;
    margin-left: 5px;
    width: 0px;
    /* position: absolute; */
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
}

.alternateOptions{
    border-radius: 0;
    top: 37px;
    left: 0px;
    right: 0px;
    max-height: 180px;
    background: #fff;
    border: 1px solid var(--inputBackground);;
}

.alternateOptions ul li{
    color: #3F3F3F;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
}

.alternateOptions ul li:first-child{
    border-top: none;
}

.alternateOptions ul li:last-child{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.alternateOptions ul div:hover li{
    background: #EBF5FF;
}

.alternateSelectedOption {
    background: #F5FAFF;
}

.alternateContainer{
    background: #fff;
    /* outline: 1px solid #e5e5e5; */
    border-radius: 8px;
    box-shadow: 0 0 1px #888888;
}

.alternateContainerColor {
    box-shadow: 0 0 1px 1px #5ccdde;
}

.alternateContainerColor .innerDiv {
    color: #5ccdde;
}

.alternateContainerColor .arrowUp {
    border-color: transparent transparent #5ccdde;
}

.alternateContainerColor .arrowDown {
    border-color: #5ccdde transparent transparent;
}

.alternateContainer .innerInput {
    font-size: 14px;
}

.alternateContainer .innerDiv {
    font-size: 14px;
}

.disabledOptions {
    opacity: 0.5;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


@media (--xSmall){
    .componentContainer{
        flex-direction: column;
    }

    .label {
        padding-top: 0;
        margin-left: 3px;
        flex-basis: auto; 
    };

}

