@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';


.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paginationInner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
}

.paginationButton{
    width: 40px;
    height:40px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--heading);
    border-radius: 3px; 
}

.paginationButton:hover{
    background: var(--moosendBlue);
    color: #fff;
}

.activeButton {
    background: var(--moosendBlue);
    color: #fff;
}

.disabledButton {
  pointer-events: none;
}


@media (--small){
    .paginationButton{
        font-size: 4vw;
        padding: 4vw;
    }
    
}

@media (--xSmall){
    .paginationButton{
        font-size: 9vw;
        padding: 4vw;
    }
}