@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../_utils/globals/variables.css';

.container{
    display: flex;
    flex-direction: column;
}

.tags{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #efefef;
    padding: 10px;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
}

.tag{
    background: #5ccdde;
    border-radius: 8px;
    padding: 5px;
    color: #fff;
    margin: 2px;
}

.close{
    width: 10px;
    height: 10px;
    font-size: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.input{
    flex: 1;
    box-sizing: border-box;
    padding-left: 10px;
    border: 0;
    background: #efefef;
    color: var(--inputFontColor);
    /* font-size: 16px; */
    font-size: 1rem; 
}

.inputContainer

.sourceList {
    position: absolute;
    background: #fff;
    box-shadow: 5px 5px 20px #bfbfbf;
    border-radius: 8px;
}

.sourceItem {
    padding: 10px;
}

.sourceItem:hover{
    background: rgb(239, 239, 239);
}