@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';
@import url('https://fonts.googleapis.com/css?family=Convergence');

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.rowContainer {
    flex-direction: row;
    align-items: center;
}

.tags{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #efefef;
    padding: 7px;
    flex-wrap: wrap;
    width: 100%;
    cursor: text;
    min-height: 43px;
    word-break: break-all;
}

.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5ccdde;
    border-radius: 6px;
    padding: 4px;
    color: #fff;
    margin: 2px;
    cursor: unset;
    font-size: 0.875rem;
    animation: opa 0.2s;
}

.close{
    width: 10px;
    height: 10px;
    font-size: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.input{
    outline: none;
    flex: 1;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 0;
    background: #efefef;
    color: var(--inputFontColor);
    /* font-size: 16px; */
    font-size: 1rem; 
    min-width: 30px;
}

.inputContainer{
    position: relative;
    display: flex;
    flex: 1;
}

.sourceList {
    top: 25px;
    position: absolute;
    background: #fff;
    box-shadow: 5px 5px 20px #bfbfbf;
    border-radius: 8px;
    z-index: 10;
}

.sourceItem {
    padding: 10px;
}

.sourceItem:hover{
    background: rgb(239, 239, 239);
    cursor: pointer;
}

.active{
    background: rgb(239, 239, 239);
    border-radius: inherit;
}

.label{
    flex-basis: 20px;
    color: #6b6b6b;
    /* font-size: 13px;  */
    font-size: .92857142857rem; 
}

.labelLeft{
    display: flex;
    flex: 1 0 150px;
}

.cover{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.message {
    font-family: 'Convergence', sans-serif;
    border-radius: 8px;
    border: 1px solid #5ccdde;
    padding: 3px;
    font-size: 13px;
    background: #fff;
    color: #5ccdde;
    height: 25px;
    position: absolute;
    top: 30px;
    left: 8px;
}

.description{
    position: absolute;
    bottom: -17px;
    display: block;
    color: var(--italicDescription);
    font-size: .78571428571rem;
    margin-left: -2px;
    margin-top: 5px;
}

.success{
    box-shadow: inset 0px 0px 0px 2px #00cc44;
}

.error{
    box-shadow: inset 0px 0px 0px 2px #ec3232;
}

.descError{
    color: #ec3232;
}

.descSuccess{
    color: #00cc44;
}

@keyframes opa {
    from {opacity: 0}
    to {opacity: 1}
}

@media (--xSmall){

    .rowContainer {
        flex-direction: column;
        align-items: unset;
    }

    .labelLeft {
        flex: 1;
    }

}
