@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.containerH {
    display: flex;
    flex-direction: column;
}

.containerV {
    display:flex;
    flex-direction: row;
}

.headingV {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1; 
    border-radius: 8px;
    background: #fff !important;
    /* border-right: 1px solid var(--moosendBlue); */
}

.headingH {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    border-radius: 8px;
    background: #fff !important;
    /* border-bottom: 1px solid var(--moosendBlue); */
}

.content{
    color: #7b7b7b;
    font-size: 0.875rem;
}

.contentH {
    flex-grow: 1;
    flex-shrink: 1;
}

.contentV {
    flex: 2;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0px;
    /* color: var(--moosendBlue); */
    color: #aaa;
    font-size: 1rem;
    background: transparent;
    transition: background-color 0.3s;
    /* border: 1px solid var(--moosendBlue); */
    padding: 13px;
    cursor: pointer;
    user-select: none;
}

.header label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 0.875rem;
    width: 100%;
    height: 100%;
}

.activeHeader {
    background: var(--moosendBlue);
    color: #fff;
    margin: 0;
}

.activeHeader:first-child {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.activeHeader:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.activeHeader:hover {
    background: var(--moosendBlue);
    border-color: var(--moosendBlue);
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

@media (--xSmall){

    .headingV{
        margin: 0;
        padding: 0;
        border-right: none;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--moosendBlue);
    }

    .headingH{
        flex-direction: column;
    }

    .containerV{flex-direction: column}

} 
