@import url('https://fonts.googleapis.com/css?family=Convergence');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.container{
    display: flex;
    width: 100%;
}

.containerV {
    flex-direction: row;
}

.containerH {
    flex-direction: column;
}

.heading {
    display: flex;
    flex-direction: row;
}

.headingH {
    flex: 1;
    border-bottom:10px solid #efefef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.headingV {
    flex-direction: column;
    flex: 1;
    border-right:10px solid #efefef;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.contentH {
    flex: 1;
}

.contentV {
    flex: 2;
}

.header {
    padding: 30px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    color: #575757;
    font-family: Convergence,sans-serif;
    font-size: 1.125rem;
}

.headerAlign{
    padding: 0;
    flex-grow: 0;
    width: 120px;
    height: 120px;
}

.headingHRight{
    flex-direction: row-reverse;
}

.headingVRight{
    flex-direction: column-reverse;
}

.headingCenter{
    justify-content: center;
}

.headingVAlign{
    flex: 0;
} 

/* .headerAlign span.title{
    color: #6b6b6b;
    font-family: sans-serif;
    font-size: .92857142857rem;
    border-bottom: 1px solid #efefef;
}

.headerAlign:hover span.title{
    color: var(--moosendBlue);
} */

.tab{
    display: block;
}

.activeHeader {
    background: var(--inputBackground);
}

.inactiveHeader {
    background: #fff;
}

.inactiveHeader:hover {
    background: rgba(245, 245, 245, 0.5);
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.image{
    margin-top: 10px;
    width: 40px;
}

@media (--deviceSmall){

    .heading{
        height: 10vw;
    }

    .heading span{
        font-size: 4vw;
    }

}

@media (--xSmall){
    .containerV{flex-direction: column}

    .headingV{
        flex-direction: row;
        border-bottom:10px solid #efefef;
        border-right: none;
    }

}
/* 
@media (--small){
    .containerV{flex-direction: column}

    .headingV{
        flex-direction: row;
        border-bottom:10px solid #efefef;
        border-right: none;
    }
} */

@media (--deviceXsmall){

    .heading{
        font-size: 3.5vw;
    }

    .contentH {
        font-size: 3vw;
    }

    .contentV {
        font-size: 3vw;
    }

}

@media (--deviceSmall){

    .heading{
        font-size: 3.5vw;
    }

    .contentH {
        font-size: 3vw;
    }

    .contentV {
        font-size: 3vw;
    }

}