@import url('https://fonts.googleapis.com/css?family=Convergence');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.container{
    display: flex;
    width: 100%;
}

.containerV {
    flex-direction: row;
}

.containerH {
    flex-direction: column;
}

.heading {
    display:flex;
    flex-direction: row;
}

.headingH {
    flex: 1;
    border-bottom:10px solid #efefef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.headingV {
    flex-direction: column;
    flex: 1;
    border-right:10px solid #efefef;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.contentH {
    flex: 1;
}

.contentV {
    flex: 2;
}

.header {
    padding: 30px 0;
    display: inline-block;
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.header span{
    color: #575757;
    font-family: Convergence,sans-serif;
    font-size: 1.125rem;
    /*font-size: 18px;*/
}

.tab{
    display: block;
}

.activeHeader {
    background: var(--inputBackground);
}

.inactiveHeader {
    background: #fff;
}

.inactiveHeader:hover {
    background: rgba(245, 245, 245, 0.5);
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

@media (--deviceSmall){

    .heading{
        height: 10vw;
    }

    .heading span{
        font-size: 4vw;
    }

}

@media (--xSmall){
    .containerV{flex-direction: column}

    .headingV{
        flex-direction: row;
        border-bottom:10px solid #efefef;
        border-right: none;
    }

}
/* 
@media (--small){
    .containerV{flex-direction: column}

    .headingV{
        flex-direction: row;
        border-bottom:10px solid #efefef;
        border-right: none;
    }
} */

@media (--deviceXsmall){

    .heading span{
        font-size: 3.5vw;
    }

    .containerH {
        font-size: 3vw;
    }

    .contentV {
        font-size: 3vw;
    }

}

@media (--deviceSmall){

    .heading span{
        font-size: 3.5vw;
    }

    .containerH {
        font-size: 3vw;
    }

    .contentV {
        font-size: 3vw;
    }

}