@import url('https://cdn.moostaging.com/assets/fonts/google-web-fonts/fonts.css');
@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.container{
    display: flex;
    width: 100%;
}

.containerV {
    flex-direction: row;
}

.containerH {
    flex-direction: column;
}

.heading {
    display: flex;
    flex-direction: row;
}

/* .alternateHeading {
    compose: heading;
    background: #efefef;
    border-radius: 8px;
} */

.headingH {
    flex-grow: 1;
    flex-shrink: 1;
    border-bottom:10px solid #efefef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.headingV {
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    border-right:10px solid #efefef;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.contentH {
    flex-grow: 1;
    flex-shrink: 1;
}

.contentV {
    flex: 2;
}

.header {
    padding: 20px 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    color: #575757;
    font-family: 'Convergence', 'Alegreya Sans', sans-serif;
    font-size: 1.125rem;
}

.headerAlign{
    padding: 0;
    flex-grow: 0;
    width: 120px;
    height: 120px;
}

.headingHRight{
    flex-direction: row-reverse;
}

.headingVRight{
    flex-direction: column-reverse;
}

.headingCenter{
    justify-content: center;
}

.headingVAlign{
    flex-grow: 0;
    flex-basis: auto;
} 

/* .headerAlign span.title{
    color: #6b6b6b;
    font-family: sans-serif;
    font-size: .92857142857rem;
    border-bottom: 1px solid #efefef;
}

.headerAlign:hover span.title{
    color: var(--moosendBlue);
} */

.tab{
    display: block;
}

.activeHeader {
    background: var(--inputBackground);
}

.inactiveHeader {
    background: #fff;
}

.inactiveHeader:hover {
    background: rgba(245, 245, 245, 0.5);
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.image{
    margin-top: 10px;
    width: 40px;
}

@media (--xSmall){
    .containerV{flex-direction: column}

    .headingV{
        flex-direction: row;
        border-bottom:10px solid #efefef;
        border-right: none;
    }

    /* .headerAlign{
        flex-grow: 1;
    }

    .header{
        flex-grow: 1;
    flex-shrink: 1;
    } */

}
/* 
@media (--small){
    .containerV{flex-direction: column}

    .headingV{
        flex-direction: row;
        border-bottom:10px solid #efefef;
        border-right: none;
    }
} */
