@import url('https://fonts.googleapis.com/css?family=Convergence');
@import '../../_utils/globals/variables.css';

.h2 {
    font-family: 'Convergence', sans-serif;
    /*font-size: 19px;*/
    font-size: 1.188rem;
    font-weight: 400;
    color: var(--smallHeading);
}