@import url('https://fonts.googleapis.com/css?family=Convergence');
@import '../../_utils/globals/variables.css';
@import '../../_utils/globals/screens.css';

.h2 {
    font-family: 'Convergence', sans-serif;
    /*font-size: 19px;*/
    font-size: 1.188rem;
    font-weight: 400;
    color: var(--heading);
}

@media (--small){
    .h2 {
        font-size: 4vw;
    }
}

@media (--xSmall){
    .h2 {
        font-size: 4vw;
    }
}