@import url('https://cdn.moosend.com/assets/fonts/google-web-fonts/fonts.css');

.statsBox{
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    flex-grow: 1;
}

.statsTitle{
    width: 36px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0; */
    bottom: 0;
    /* transform: rotate(270deg); */
}

.rotateText {
    font-size: 14px;
    font-family: 'Convergence', 'Alegreya Sans', sans-serif;
    transform: rotate(270deg)
}

.statsContent {
    /* flex-shrink: 1;
    flex-grow: 1; */
    flex-grow: 1;
    padding: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleAnchor {
    cursor: pointer;
    display: flex;
}

.titleAnchor:link {
    text-decoration: none;
}

.titleAnchor:visited {
    text-decoration: none;
}

.titleAnchor:hover {
    text-decoration: none;
}

.titleAnchor:active {
    text-decoration: none;
}