.statsBox{
    display: flex;
    border-radius: 8px;
    flex-grow: 1;
}

.statsTitle{
    padding: 15px 10px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.statsContent {
    /* flex-shrink: 1;
    flex-grow: 1; */
    flex-grow: 1;
    padding: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
