@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%; /* 100% Full-height */
    width: 0px;
    position: fixed; /* Stay in place */
    z-index: 9; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #2D2D2D;
    overflow-x: hidden;
    transition: 0.5s;
    color: #fff; 
    font-size: 12px;
    white-space: nowrap;
}

.sidebarOn{
    width: 100px;
}

.sidebarOff{
    width: 0px;
}

.sidebar.sidebarOff{
    font-size: 0;
}

.itemContainer{
    padding-top: 25px; 
    user-select: none;
}

.anchor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;  
    color: inherit;
}

.activeItem{
    color: var(--moosendBlue);
}

.anchor:hover{
    color: var(--moosendBlue);
}

.image{
    width: 80px;
    margin-bottom: 10px;
    -webkit-user-drag: none;
}

.button{
    width: 60px;
    height: 60px;
}

.button i{
    font-size: 50px;
}

.cover{
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

@media (--deviceSmall){
    
    .button{
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        height: 10vw;
        width: 10vw;
    }

    .button i{
        font-size: 8vw;
    }

    .sidebar{
        font-size: 4vw;
    }

    .itemContainer{
        padding-top: 3vw;
    }

    .sidebarOn{
        width: 50%;
    }

    .sidebar img{
        display: none;
    }

}

@media (--deviceXsmall){

    .button{
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        height: 10vw;
        width: 10vw;
    }

    .button i{
        font-size: 8vw;
    }

    .sidebar{
        font-size: 4vw;
    }

    .itemContainer{
        padding-top: 3vw;
    }

    .sidebarOn{
        width: 50%;
    }

    .sidebar img{
        display: none;
    }
}