.sidebar {
    height: 100%; /* 100% Full-height */
    width: 90px ; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #2D2D2D;
    overflow-x: hidden;
    transition: 0.5s;
}

.itemContainer{
    cursor: pointer;
    text-align: center;
    user-select: none;
    color: #fff;
    display: block;
}

.activeItem{
    color: #5ccdde;
}

.image{
    width: 80px;
    padding: 15px 15px 0 15px;
    -webkit-user-drag: none;
}

.itemLabel{
    font-size: 12px;
}

.button{
    width: 60px;
    height: 60px;
}

.button i{
    font-size: 50px;
}

.cover{
    position: fixed;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/* .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */