@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%; /* 100% Full-height */
    width: 90px;
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background: #2D2D2D;
    transition: 0.4s;
    color: #fff; 
    font-size: 12px;
    white-space: nowrap;
    overflow-x: hidden; 
    z-index: 9; /* Stay on top */
    flex: 1;
}

.subMenu{
    z-index: 8;
    width: 185px;
    left: 0px;
    background: #efefef;
    color: #636363;
    font-size: 16px;
}

.subMenuFixed{
    z-index: 7;
    left: 90px !important;
    transition: 0.1s;
}

.subMenuOn{
    left: 90px !important;
    overflow-y: auto;
}

.subMenuOff{
    left: -185px;
}

.sidebarOn{
    left: 0px !important;
}

.sidebarOn:hover{
    overflow-x: visible;
}

.sidebarOff{
    left: -90px;
}

.smallOn{
    left: 0px;
}

.smallOff{
    left: -90px;
}

.smallSubOn{
    left: 90px;
}

.smallSubOff{
    left: -185px;
}

/*
.sidebar.sidebarOff{
    font-size: 0;
}
*/
.itemContainer{
    position: relative;
    user-select: none;
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: inherit;
    white-space: pre-wrap;
}

.subMenu .itemContainer{
    align-items: flex-start;
    /* padding: 15px 30px; */
}

.activeItem{
    color: var(--moosendBlue);
}

.itemContainer:hover{
    color: var(--moosendBlue);
}

.image{
    width: 30px;
    margin-bottom: 10px;
    -webkit-user-drag: none;
}

.button{
    display: none;
    width: 60px;
    height: 60px;
}

.button i{
    font-size: 50px;
}

.buttonOn{
    display: block;
}

.arrow{
    display: none;
    z-index: 9;
    position: absolute;
    width: 0; 
    height: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    left: 90px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #2D2D2D;
}

.itemContainer:hover > .arrow{
    display: block;
}

.cover{
    display: none !important;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.coverOn{
    display: block !important;
}

.coverSmall{
    display: block;
}

.sidebar::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

.sidebar::-webkit-scrollbar-button:start:decrement,
.sidebar::-webkit-scrollbar-button:end:increment  {
    display: none;
}

.sidebar::-webkit-scrollbar-track-piece  {
    background-color: #eeeeee;
}

.sidebar::-webkit-scrollbar-thumb:vertical {
    background: #d9d9d9;
    border-radius: 16px;
}

@media (--deviceSmall){
    
    .button{
        display: block;
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        height: 10vw;
        width: 10vw;
        z-index: 99;
    }

    .button i{
        font-size: 8vw;
    }

    .sidebar{
        padding-top:50px;
        width: 50%;
    }

    .sidebarOff{
        left: -50%;
    }

    .subMenu{
        font-size: 4vw;
        z-index: 11;
    }

    .subMenuFixed{
        z-index: 11;
        left: inherit;
    }

    .smallSubOn{
        left: 10% !important;
    }

    .smallSubOff{
        left: -50% !important;
    }

    .subMenuOff{
        left: -50%;
    }

    .subMenuOn{
        left: 10%;
    }

    .coverSmall{
        display: block !important;
    }

    .smallOn{
        width: 50% !important;
    }

    .smallOff{
        width: 0px !important;
        overflow-x: hidden !important;
    }

    .itemContainer{
        padding-top: 3vw;
    }

    .sidebarOn{
        width: 0px;
    }

    .sidebar img{
        display: none;
    }

    .itemContainer:hover > .arrow{
        display: none;
    }

}

@media (--deviceXsmall){

    .button{
        display: block;
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        height: 10vw;
        width: 10vw;
        z-index: 99;
    }

    .button i{
        font-size: 8vw;
    }

    .sidebar{
        font-size: 4vw;
        padding-top:50px;
        width: 50%;
    }

    .sidebarOff{
        left: -50%;
    }

    .subMenu{
        font-size: 4vw;
        z-index: 11;
    }
    
    .subMenuFixed{
        z-index: 11;
        left: inherit;
    }

    .smallSubOn{
        left: 10% !important;
    }

    .smallSubOff{
        left: -50% !important;
    }

    .subMenuOff{
        left: -50%;
    }

    .subMenuOn{
        left: 10%;
    }

    .coverSmall{
        display: block !important;
    }

    .smallOn{
        width: 50% !important;
    }

    .smallOff{
        width: 0px !important;
        overflow-x: hidden !important;
    }

    .itemContainer{
        padding-top: 3vw;
    }

    .sidebarOn{
        width: 0px;
    }

    .sidebar img{
        display: none;
    }

    .itemContainer:hover > .arrow{
        display: none;
    }
}