@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.containerH {
    display: flex;
    flex-direction: column;
}

.containerV {
    display:flex;
    flex-direction: row;
}

.headingV {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1; 
    margin-right: 10px;
}

.borderV {
    border-right: 1px solid var(--moosendBlue);
}

.headingV > .header + .header{
    margin-top: 10px;
}

.headingH {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    margin-bottom: 10px;
}

.headingH > .header + .header{
    margin: 10px 0px 0px 0px
}

.content{
    color: #7b7b7b;
    font-size: 0.875rem;
}

.contentH {
    flex-grow: 1;
    flex-shrink: 1;
}

.contentV {
    flex: 2;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    font-size: 0.875rem;
    padding: 15px;
    cursor: pointer;
    user-select: none;
    color: #7b7b7b;
    background: #f2f2f2;
}

.header input[type='radio'] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    appearance: none;
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
    border-radius:50%;
}

.header:hover input[type='radio']{
    border-color: var(--radioHover);
}

.header input[type='radio']:checked::after {
    background: #333;
    content:'';
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius:50%;
}

.header label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 0.875rem;
    width: 100%;
    height: 100%;
}

.header span {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;
}

.activeHeader {
    background: var(--moosendBlue);
    color: #fff;
}

.activeHeader:hover {
    background: var(--moosendBlue);
    border-color: var(--moosendBlue);
}

.activeHeader:hover input[type='radio']{
    border-color: var(--moosendBlue);
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

@media (--xSmall){

    .headingV{
        margin: 0;
        padding: 0;
        border-right: none;
        margin-bottom: 10px;
    }

    .headingH{
        flex-direction: column;
    }

    .headingH > .header + .header{
        margin: 10px 0 0 0
    }

    .containerV{flex-direction: column}

} 

@media (--small){

    .headingV{
        margin: 0;
        padding: 0;
        border-right: none;
        margin-bottom: 10px;
    }

    .headingH{
        flex-direction: column;
    }

    .headingH > .header + .header{
        margin: 10px 0px 0px 0px
    }

    .containerV{flex-direction: column}

}
