@import '../_utils/globals/screens.css';

.grid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
}

.grid::after, .row::after{
    clear: both;
}

.row{
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    min-width: 0px;
}

.col{
    box-sizing: border-box;
    min-width: 0px;
}

.default {
    flex-grow: 1;
    flex-shrink: 1;
}

.hidden{
    display: none;
}

/* .activeLoader{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
} */

.hiddenContent{
    visibility: hidden;
}

@media screen and (--large){

    .large-1 {
        flex-grow: 1;
        flex-shrink: 1;
        width: 8.33333333%;
        max-width: 8.33333333%;
    }

    .large-2 {
        flex-grow: 2;
        flex-shrink: 1;
        width: 16.66666667%;
        max-width: 16.66666667%;
    }

    .large-3 {
        flex-grow: 3;
        flex-shrink: 1;
        width: 25%;
        max-width: 25%;
    }

    .large-4 {
        flex-grow: 4;
        flex-shrink: 1;
        width: 33.33333333%;
        max-width: 33.33333333%;
    }

    .large-5 {
        flex-grow: 5;
        flex-shrink: 1;
        width: 41.66666667%;
        max-width: 41.66666667%;
    }

    .large-6 {
        flex-grow: 6;
        flex-shrink: 1;
        width: 50%;
        max-width: 50%;
    }

    .large-7 {
        flex-grow: 7;
        flex-shrink: 1;
        width: 58.33333333%;
        max-width: 58.33333333%;
    }

    .large-8 {
        flex-grow: 8;
        flex-shrink: 1;
        width: 66.66666667%;
        max-width: 66.66666667%;
    }

    .large-9 {
        flex-grow: 9;
        flex-shrink: 1;
        width: 75%;
        max-width: 75%;
    }

    .large-10 {
        flex-grow: 10;
        flex-shrink: 1;
        width: 83.33333333%;
        max-width: 83.33333333%;
    }

    .large-11 {
        flex-grow: 11;
        flex-shrink: 1;
        width: 91.66666667%;
        max-width: 91.66666667%;
    }

    .large-12 {
        flex-grow: 12;
        flex-shrink: 1;
        width: 100%;
        max-width: 100%;
    }

    .hidden-lg {display: none}
}

@media screen and (--medium){

    .medium-1 {
        flex-grow: 1;
        flex-shrink: 1;
        width: 8.33333333%;
        max-width: 8.33333333%;
    }

    .medium-2 {
        flex-grow: 2;
        flex-shrink: 1;
        width: 16.66666667%;
        max-width: 16.66666667%;
    }

    .medium-3 {
        flex-grow: 3;
        flex-shrink: 1;
        width: 25%;
        max-width: 25%;
    }

    .medium-4 {
        flex-grow: 4;
        flex-shrink: 1;
        width: 33.33333333%;
        max-width: 33.33333333%;
    }

    .medium-5 {
        flex-grow: 5;
        flex-shrink: 1;
        width: 41.66666667%;
        max-width: 41.66666667%;
    }

    .medium-6 {
        flex-grow: 6;
        flex-shrink: 1;
        width: 50%;
        max-width: 50%;
    }

    .medium-7 {
        flex-grow: 7;
        flex-shrink: 1;
        width: 58.33333333%;
        max-width: 58.33333333%;
    }

    .medium-8 {
        flex-grow: 8;
        flex-shrink: 1;
        width: 66.66666667%;
        max-width: 66.66666667%;
    }

    .medium-9 {
        flex-grow: 9;
        flex-shrink: 1;
        width: 75%;
        max-width: 75%;
    }

    .medium-10 {
        flex-grow: 10;
        flex-shrink: 1;
        width: 83.33333333%;
        max-width: 83.33333333%;
    }

    .medium-11 {
        flex-grow: 11;
        flex-shrink: 1;
        width: 91.66666667%;
        max-width: 91.66666667%;
    }

    .medium-12 {
        flex-grow: 12;
        flex-shrink: 1;
        width: 100%;
        max-width: 100%;
    }

    .hidden-md {display: none}
}


@media screen and (--small){

    .small-1 {
        flex-grow: 1;
        flex-shrink: 1;
        width: 8.33333333%;
        max-width: 8.33333333%;
    }

    .small-2 {
        flex-grow: 2;
        flex-shrink: 1;
        width: 16.66666667%;
        max-width: 16.66666667%;
    }

    .small-3 {
        flex-grow: 3;
        flex-shrink: 1;
        width: 25%;
        max-width: 25%;
    }

    .small-4 {
        flex-grow: 4;
        flex-shrink: 1;
        width: 33.33333333%;
        max-width: 33.33333333%;
    }

    .small-5 {
        flex-grow: 5;
        flex-shrink: 1;
        width: 41.66666667%;
        max-width: 41.66666667%;
    }

    .small-6 {
        flex-grow: 6;
        flex-shrink: 1;
        width: 50%;
        max-width: 50%;
    }

    .small-7 {
        flex-grow: 7;
        flex-shrink: 1;
        width: 58.33333333%;
        max-width: 58.33333333%;
    }

    .small-8 {
        flex-grow: 8;
        flex-shrink: 1;
        width: 66.66666667%;
        max-width: 66.66666667%;
    }

    .small-9 {
        flex-grow: 9;
        flex-shrink: 1;
        width: 75%;
        max-width: 75%;
    }

    .small-10 {
        flex-grow: 10;
        flex-shrink: 1;
        width: 83.33333333%;
        max-width: 83.33333333%;
    }

    .small-11 {
        flex-grow: 11;
        flex-shrink: 1;
        width: 91.66666667%;
        max-width: 91.66666667%;
    }

    .small-12 {
        flex-grow: 12;
        flex-shrink: 1;
        width: 100%;
        max-width: 100%;
    }

    .hidden-sm {display: none}
}

@media (--xSmall){

    .xSmall-1 {
        flex-grow: 1;
        flex-shrink: 1;
        width: 8.33333333%;
        max-width: 8.33333333%;
    }

    .xSmall-2 {
        flex-grow: 2;
        flex-shrink: 1;
        width: 16.66666667%;
        max-width: 16.66666667%;
    }

    .xSmall-3 {
        flex-grow: 3;
        flex-shrink: 1;
        width: 25%;
        max-width: 25%;
    }

    .xSmall-4 {
        flex-grow: 4;
        flex-shrink: 1;
        width: 33.33333333%;
        max-width: 33.33333333%;
    }

    .xSmall-5 {
        flex-grow: 5;
        flex-shrink: 1;
        width: 41.66666667%;
        max-width: 41.66666667%;
    }

    .xSmall-6 {
        flex-grow: 6;
        flex-shrink: 1;
        width: 50%;
        max-width: 50%;
    }

    .xSmall-7 {
        flex-grow: 7;
        flex-shrink: 1;
        width: 58.33333333%;
        max-width: 58.33333333%;
    }

    .xSmall-8 {
        flex-grow: 8;
        flex-shrink: 1;
        width: 66.66666667%;
        max-width: 66.66666667%;
    }

    .xSmall-9 {
        flex-grow: 9;
        flex-shrink: 1;
        width: 75%;
        max-width: 75%;
    }

    .xSmall-10 {
        flex-grow: 10;
        flex-shrink: 1;
        width: 83.33333333%;
        max-width: 83.33333333%;
    }

    .xSmall-11 {
        flex-grow: 11;
        flex-shrink: 1;
        width: 91.66666667%;
        max-width: 91.66666667%;
    }

    .xSmall-12 {
        flex-grow: 12;
        flex-shrink: 1;
        width: 100%;
        max-width: 100%;
    }  

    .hidden-xs {display: none}
}
