.*rc
.*.yml
.*.log
.idea
.vscode
webpack.config.*
coverage/
node_modules/
tsconfig.json
tslint.json
postcss.config.json
index.html
docs
src
spec
__mocks__
playground-dist
dist
.DS_Store
start-development.bat
Procfile
app.js