@import url('https://cdn.moostaging.com/assets/fonts/google-web-fonts/fonts.css');
@import '../../_utils/globals/variables.css';

.h4 {
    font-family: 'Convergence', 'Alegreya Sans', sans-serif;
    /*font-size: 15px;*/
    font-size: 0.9375rem;
    color: var(--smallHeading);
    margin: 19px 0;
}
