@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:500|Convergence');
@import '../../_utils/globals/variables.css';

.h4 {
    font-family: 'Convergence', 'Alegreya Sans', sans-serif;
    /*font-size: 15px;*/
    font-size: 0.9375rem;
    color: var(--smallHeading);
    margin: 19px 0;
}
