@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.inputContainer{
    display: flex;
    margin: 3px;
    box-sizing: border-box;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
}

.input{
    display: flex;
    outline: none;
    font-family: Arial,sans-serif;
    border: 0;
    color: var(--inputFontColor);
    /* font-size: 16px; */
    font-size: 1rem; 
    width: 100%;
    transition: 0.2s;
    background: transparent;
}

.innerDiv{
    display: flex;
    background: #efefef;
    border-radius: 8px;
}

.reverse{
    flex-direction: row-reverse;
}

.noIcon{
    padding: 15px;
    border-radius: 8px;
}

.inputLeft{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 15px 5px 15px 15px;
}

.inputRight{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px 15px 15px 5px;
}

.disabledInput{
    cursor:not-allowed;
    color: #bfbfbf;
    background: #f6f6f6;
}

.input::placeholder {
    color: var(--inputPlaceholder);
}

.iconLeft{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px 0 10px 10px;
}

.iconRight{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px 10px 10px 0;
}

.icon{
    color: var(--inputPlaceholder);
    font-size: 25px;
    font-family: 'Material Icons';
    background: transparent;
}

.iconError{
    color: #ec3232;
}

.iconSuccess{
    color: #00cc44;
}

.input:focus {
    outline: none;
    color:#333333;
}

.inputLabel {
    color: #6b6b6b;
     /* font-size: 13px;  */
     font-size: .92857142857rem; 
    cursor: pointer;
    padding-top: 15px;
    flex-basis: 150px;
}

.description{
    display: block;
    color: var(--italicDescription);
    font-size: .78571428571rem;
    margin-left: 3px;
    margin-top: 5px;
}

.success{
    box-shadow: inset 0px 0px 0px 2px #00cc44;
}

.error{
    box-shadow: inset 0px 0px 0px 2px #ec3232;
}

.descError{
    color: #ec3232;
}

.descSuccess{
    color: #00cc44;
}

@media (--xSmall){
    .inputContainer{
        display: flex;
        flex-direction: column
    }
    
    .inputLabel{
        flex-basis: 10px;
        padding-top: 0px;
        margin-left: 3px;
    }

}
