@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.inputContainer{
    display: flex;
    flex: 1 0 auto;
    box-sizing: border-box;
    align-items: center;
}

.column {
    flex-direction: column;
    align-items: stretch;
}

.input{
    outline: none;
    display: flex;
    flex: 1;
    font-family: Arial,sans-serif;
    border: 0;
    color: var(--inputFontColor);
    /* font-size: 16px; */
    font-size: 1rem; 
    transition: 0.2s;
    background: transparent;
}

.innerDiv{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #efefef;
    border-radius: 8px;
    padding: 15px;
    border-radius: 8px;
}

.reverse{
    flex-direction: row-reverse;
}

.inputLeft{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 15px 5px 15px 15px;
}

.inputRight{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px 15px 15px 5px;
}

.disabledInput{
    cursor:not-allowed;
    color: #bfbfbf;
    background: #f6f6f6;
}

.input::placeholder {
    color: var(--inputPlaceholder);
}

.icon{
    color: var(--inputPlaceholder);
    font-size: 20px;
    font-family: 'Material Icons';
    background: transparent;
}

.iconError{
    color: #ec3232;
}

.iconSuccess{
    color: #00cc44;
}

.input:focus {
    outline: none;
    color:#333333;
}

.inputLabel {
    color: #6b6b6b;
     /* font-size: 13px;  */
     font-size: .92857142857rem; 
    cursor: pointer;
    flex-basis: 150px;
}

.topLabel {
    flex-basis: auto;
    padding-top: 0px;
    margin-left: 3px;
}

.description{
    position: absolute;
    bottom: -17px;
    left: 5px;
    display: block;
    color: var(--italicDescription);
    font-size: .78571428571rem;
}

.success{
    box-shadow: inset 0px 0px 0px 2px #00cc44;
}

.error{
    box-shadow: inset 0px 0px 0px 2px #ec3232;
}

.descError{
    color: #ec3232;
}

.descSuccess{
    color: #00cc44;
}

.copyButton {
    margin-left: 15px;
}

.dropDown {
    position: absolute;
    top: 25px;
    right: -7px;
    height: auto;
    background: #fff;
    border-radius: 5px;
    z-index: 4;
    display: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.32);
}

.dropDownArrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #F5F7F9;
    top: -5px;
    right: 10px;
    z-index: 5;
    position: absolute;
}

.dropDownLabel {
    padding: 5px;
    border-bottom: 1px solid #f1f1f1;
    background-color: #F5F7F9;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropDownContent {
    max-height: 400px;
    overflow-y: auto;
    width: 250px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.tag {
    padding-top: 3px;
    padding-bottom: 3px;
}

.dropDownContent > .tag:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

.tag:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.dropDownIcon{
    padding-left: 10px;
}

.dropDownIcon:hover{
    cursor: pointer;
}

:global(.emoji-dialog .emoji-row .emoji){
    width: 30px;
    height: 30px;
    padding: 3px;
}

:global(.emoji-dialog .emoji-row .emoji):hover{
    cursor: pointer;
}

:global(.emoji-dialog .emojione){
    width: 25px;
}

:global(.emoji-dialog .emoji-dialog-header li img):hover{
    cursor: pointer;
    filter: grayscale(0);
}

@media (--xSmall){
    .inputContainer{
        flex-direction: column;
        align-items: stretch;
    }

    .innerContainer {
        flex-direction: column;
        align-items: stretch;
    }
    
    .inputDiv{
        flex: 1 0 auto;
    }

    .copyButton{
        margin: 5px 0 0 0;
    }
    
    .inputLabel{
        flex-basis: auto;
        padding-top: 0px;
        margin-left: 3px;
    }

}
