@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.checkbox {
    display: block;
    position: relative;
    color: var(--checkRadioGrey);
    transition: all 0.3s;
    height: 20px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background-color: #efefef;
}

.checkbox label:hover > .checkmark {
    background-color: #ccc;
}

.checkbox input:checked ~ label:hover > .checkmark {
    background-color: #ccc;
}

.checkbox input:checked ~ label .checkmark:after {
    display: block;
    left: 7px;
    top: 4px;
    width: 3px;
    height: 7px;
    border: solid #575757;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox input:checked ~ label .checkmark {
    background: transparent;
}

.checkbox input:checked .checkmark {
    background-color: #2196F3;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.label {
    padding-left: 25px;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.checkboxgroup-component > .checkbox + .checkbox{
    margin-top: 10px;
}

.horizontal > .checkbox + .checkbox{
    margin-left: 10px;
}

.checkbox > label > span {
    vertical-align: middle;
    cursor: pointer;
    font-size: 0.875rem;
}

/* .checkbox input[type='checkbox'] {
    vertical-align: middle;
    appearance: none;
    cursor: pointer;
    font-size: 1.3125rem;  
    outline: none;  
} */

.checkbox input {
    position: absolute;
    opacity: 0;
    appearance: none;
    cursor: pointer;
}

/* .checkbox input[type='checkbox']::before {
    content: '\e835';
    color: #dfdfdf;
} */

/* .checkboxChecked input[type='checkbox']::before {
    content: '\e834';
    color: var(--moosendBlue);
} */

.disabledCheckbox, .disabledCheckbox label span, .disabledCheckbox label, .disabledCheckbox.checkbox:hover {
    cursor: not-allowed;
    color: var(--disabledCheckRadio);
}

.disabledCheckbox input[type='checkbox']:disabled::before {
    cursor: not-allowed;
    color: #eaeaea;
}

.checkbox .description{
    flex: 12;
    display: block;
    color: var(--italicDescription);
    font-size: .78571428571rem;
    margin-left: 7px;
}

.message{
    display: block;
    color: var(--italicDescription);
    font-size: .78571428571rem;
    margin-left: 7px;
    margin-top: 5px;
}

.descError{
    color: #ec3232;
}

.descSuccess{
    color: #00cc44;
}

.disabledCheckbox i{
    cursor: default;
}

/* .success input[type='checkbox']::before{
    color: #00cc44;
} */

.error input[type='checkbox']::before{
    color: #ec3232;
}

/* .checkboxChecked.error input[type='checkbox']::before {
    content: '\e834';
    color: var(--moosendBlue);
} */

.disabledCheckbox.error input[type='checkbox']:disabled::before {
    cursor: not-allowed;
    color: #eaeaea;
}

@media (--xSmall){
    .horizontal{
        flex-direction: column
    }

    .horizontal > .checkbox + .checkbox{
        margin-left: 0px;
        margin-bottom: 5px;
    }

}
