@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.checkbox {
    border-radius: 8px;
    color: var(--checkRadioGrey);
    transition: all 0.3s;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.checkboxgroup-component > .checkbox + .checkbox{
    margin-top: 10px;
}

.horizontal > .checkbox + .checkbox{
    margin-left: 10px;
}

.checkbox span {
    vertical-align: middle;
    cursor: pointer;
    font-size: 0.875rem;
}

.checkbox input[type='checkbox'] {
    vertical-align: middle;
    appearance:none;
    cursor: pointer;
    font-size: 1.3125rem;    
}

.checkbox input[type='checkbox']::before {
    content: '\e835';
    color: #dfdfdf;
}

.checkboxChecked input[type='checkbox']::before {
    content: '\e834';
    color: var(--moosendBlue);
}

.disabledCheckbox, .disabledCheckbox label span, .disabledCheckbox label, .disabledCheckbox.checkbox:hover {
    cursor: not-allowed;
    color: var(--disabledCheckRadio);
}

.disabledCheckbox input[type='checkbox']:disabled::before {
    cursor: not-allowed;
    color: #eaeaea;
}

.checkbox .description{
    flex: 12;
    display: block;
    color: var(--italicDescription);
    font-size: .78571428571rem;
    margin-left: 7px;
}

.disabledCheckbox i{
    cursor: default;
}

@media (--xSmall){
    .horizontal{
        flex-direction: column
    }

    .horizontal > .checkbox + .checkbox{
        margin-left: 0px
    }

}
