@import '../_utils/globals/screens.css';
@import '../_utils/globals/variables.css';
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

.datePicker{
    display: flex;
    position: relative;
    flex: 1;
}

.wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #6b6b6b;
     /* font-size: 13px;  */
     font-size: .92857142857rem; 
    cursor: pointer;
    flex-basis: 150px;
}

.dateInput{
    outline: none;
    padding: 15px;
    font-family: Arial,sans-serif;
    border: 0;
    color: var(--inputFontColor);
    /* font-size: 16px; */
    font-size: 1rem; 
    border-radius: 8px;
    background: #efefef;
    flex: 1;
    cursor: pointer;
}

.disabled{
    cursor: not-allowed;
    color: #bfbfbf;
    background: #f6f6f6;
}
 
.calendar{
    position: absolute;
    top: 50px;
    z-index: 99;
    box-shadow: 1px 10px 20px rgba(0,0,0,.2);
}

.cover{
    position: fixed;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

:global(.datepicker-component .m-input-moment){
    background-color: #ffffff;
    user-select: none;
    height: 355px;
}

:global(.datepicker-component .m-input-moment .tabs){
    margin: 0;
}

:global(.datepicker-component .m-input-moment .options button.is-active){
    background: #5ccdde;
    color: #fff;
}

:global(.datepicker-component .m-input-moment .options button){
    border: 1px solid #5ccdde;
    color: #5ccdde;
    margin: 0px;
}

:global(.datepicker-component .m-calendar tbody td:hover){
    background: #5ccdde;
    border: none;
}

:global(.datepicker-component .m-calendar .toolbar button){
    border: 1px solid #5ccdde;
    background: #5ccdde;
}

:global(.datepicker-component .m-calendar thead td){
    color: #5ccdde;
}

:global(.datepicker-component .m-calendar .toolbar .current-date){
    color: #5ccdde;
}

:global(.datepicker-component .m-input-moment .btn-save){
    display: none;
}

:global(.datepicker-component .m-time .time){
    background: #5ccdde;
}

:global(.datepicker-component .m-time .separater){
    color: #5ccdde;
}

:global(.datepicker-component .u-slider-time .value){
    background: #5ccdde;
}

:global(.datepicker-component .u-slider-time .handle:after){
    border: 3px solid #5ccdde;
    top: -13px;
}

:global(.datepicker-component .m-time .time-text){
    color: #5ccdde;
}

:global(.datepicker-component .m-calendar .current-day){
    color: #5ccdde;
}

:global(.datepicker-component .m-calendar .current-day):hover{
    color: #fff;
}

.description{
    display: block;
    color: var(--italicDescription);
    font-size: .78571428571rem;
    margin-top: 10px;
}

.success{
    box-shadow: inset 0px 0px 0px 2px #00cc44;
}

.error{
    box-shadow: inset 0px 0px 0px 2px #ec3232;
}

.descError{
    color: #ec3232;
}

.descSuccess{
    color: #00cc44;
}

@media (--xSmall){
    .datePicker{
        flex-direction: column;
    }

    .label{
        flex-basis: 20px;
    }
}

@media (--deviceXsmall){
    .datePicker{
        flex-direction: column;
    }

    .label{
        margin-left: 3px;
    }

    .calendar{
        position: fixed;
        top: 15%;
        left: 4%;
        z-index: 99;
    }

    :global(.datepicker-component .m-calendar .current-day:hover){
        color: #fff;
        background: #5ccdde;
    }

    /* :global(.m-input-moment){
        width: 90vw;
        height: 118vw;
    }

    :global(.options){
        display: flex;
        height: 12vw;
    }

    :global(.tabs){
        height: 100vw;
    }

    :global(.im-btn){
        height: 8vw;
        font-size: 3vw;                
    }

    :global(.m-calendar .toolbar){
        height: 10vw;
        line-height: 10vw;
    }

    :global(div.m-calendar td){
        height: 13vw;
        font-size: 4.5vw; 
    }
    
    :global(.current-date){
        font-size: 7vw;
        padding-top: 2vw;
    }

    :global(.m-calendar .toolbar button){
        height: 10vw;
        width: 10vw;
        font-size: 6vw;
    }

    :global(.m-input-moment .options button){
        height: 11vw;
        font-size: 5vw;
    }

    :global(.m-calendar .current-day){
        color: #5ccdde;
    }

    :global(.m-input-moment .btn-save){
        font-size: 4vw;
    }

    :global(.m-time .time){
        height: 25vw;
        width: 25vw;
        font-size: 20vw;
        line-height: normal;
    }

    :global(.m-time .separater){
        color: #5ccdde;
        font-size: 15vw;
        width: 10vw;
    }

    :global(.u-slider-time .handle:after){
        border: 3px solid #5ccdde;
        height: 5vw;
        width: 5vw;
        top: -1.8vw;
        left: -3vw;
    }

    :global(.m-time .time-text){
        font-size: 4vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }

    :global(.u-slider-time){
        height: 2vw;
    }

    :global(.m-time .sliders){
        padding: 0px 20px;
    } */

    .cover{
        background-color: rgba(0, 0, 0, 0.7);
        animation: opa 0.2s;
    }

    @keyframes opa {
        from {opacity: 0}
        to {opacity: 1}
    }
}

@media (--deviceSmall){
    .datePicker{
        flex-direction: column;
    }

    .label{
        margin-left: 3px;
    }

    .calendar{
        position: fixed;
        top: 15%;
        left: 4%;
        z-index: 99;
    }

    :global(.datepicker-component .m-calendar .current-day:hover){
        color: #fff;
        background: #5ccdde;
    }

    /* :global(.m-input-moment){
        width: 90vw;
        height: 118vw;
    }

    :global(.options){
        display: flex;
        height: 12vw;
    }

    :global(.tabs){
        height: 100vw;
    }

    :global(.im-btn){
        height: 8vw;
        font-size: 3vw;                
    }

    :global(.m-calendar .toolbar){
        height: 10vw;
        line-height: 10vw;
    }

    :global(div.m-calendar td){
        height: 13vw;
        font-size: 4.5vw; 
    }
    
    :global(.current-date){
        font-size: 7vw;
        padding-top: 2vw;
    }

    :global(.m-calendar .toolbar button){
        height: 10vw;
        width: 10vw;
        font-size: 6vw;
    }

    :global(.m-input-moment .options button){
        height: 11vw;
        font-size: 5vw;
    }

    :global(.m-calendar .current-day){
        color: #5ccdde;
    }

    :global(.m-input-moment .btn-save){
        font-size: 4vw;
    }

    :global(.m-time .time){
        height: 25vw;
        width: 25vw;
        font-size: 20vw;
        line-height: normal;
    }

    :global(.m-time .separater){
        color: #5ccdde;
        font-size: 15vw;
        width: 10vw;
    }

    :global(.u-slider-time .handle:after){
        border: 3px solid #5ccdde;
        height: 5vw;
        width: 5vw;
        top: -1.8vw;
        left: -3vw;
    }

    :global(.m-time .time-text){
        font-size: 4vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }

    :global(.u-slider-time){
        height: 2vw;
    }

    :global(.m-time .sliders){
        padding: 0px 20px;
    } */

    .cover{
        background-color: rgba(0, 0, 0, 0.7);
        animation: opa 0.2s;
    }

    @keyframes opa {
        from {opacity: 0}
        to {opacity: 1}
    }
}