@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.editor{
    outline: none;
    padding: 0 15px;
    font-family: Arial,sans-serif;
    border: 0;
    /* color: var(--inputFontColor); */
    /* font-size: 1rem; */
    border-radius: 8px;
    background: #fff;
    width: 100%;
    transition: 0.2s;
    border: 2px solid #efefef;
    max-height: 400px;
    overflow: auto;
    /* max-width: 100%; */
}

.textArea{
    composes: editor;
    height: 400px;
    overflow: auto;
    white-space: nowrap;
}

.buttonGroup{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.wrapperReverse{
    display: flex;
    flex-direction: column-reverse;
}

.option{
    border: none;
    padding: 5px;
    min-width: 25px;
    height: 20px;
    border-radius: 2px;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
    text-transform: capitalize;
}

.emojiOption{
    display: flex;
    flex-direction: row;
}

.option:hover {
    box-shadow: inset 0 0 2px #bfbfbf;
}

.dropDown {
    border: none;
}

/* .option img {
    width: 14px;
}

.emojiOption > img {
    width: 14px;
}

.group > img {
    width: 14px;
}

.group > a > img {
    width: 14px;
}

.customContainer > img {
    width: 16px;
}

:global(.rdw-history-wrapper img){
    width: 12px;
}

:global(.rdw-image-wrapper img){
    width: 17px;
} */

/* .group { */
    /* border-left: 1px solid #e5e5e5; */
    /* border-right: 1px solid #e5e5e5;
} */

/* .groupRight {
    border-right: 1px solid #e5e5e5;
}

.groupLeft {
    border-left: 1px solid #e5e5e5;
}

:global(.rdw-colorpicker-wrapper){
    border-right: 1px solid #e5e5e5;
}

:global(.rdw-dropdown-optionwrapper){
    left: -10px;
} */

/* :global(.rdw-colorpicker-wrapper){
    border-right: 2px solid rgba(241, 241, 241, 0.829);
}

:global(.rdw-image-wrapper){
    border-right: 2px solid rgba(241, 241, 241, 0.829);
} */

:global(.rdw-link-decorator-icon){
    left: 100%;
    content:url("../../assets/images/editor/GoTolink.png");
}

:global(.rdw-image-alignment-options-popup){
    height: 37px;
}

:global(.rdw-image-alignment-option){
    padding: 12px !important;
}

:global(.rdw-link-modal){
    display: flex;
    height: 240px;
}

:global(.rdw-dropdown-wrapper){
    margin: 0px;
    padding: 0px 5px;
}

:global(.rdw-dropdown-selectedtext){
    padding: 0;
    color: #444444;
}

/* .toolbar > .group:not(:last-child) > .option:last-child {
    margin-right: 11px;
}

.toolbar > .group:not(:first-child) > .option:first-child {
    margin-left: 11px;
} */

/* .editor::-webkit-scrollbar {
    width: 5px;
    height: 10px;
} */

/* .editor::-webkit-scrollbar-button:start:decrement,
.editor::-webkit-scrollbar-button:end:increment  {
    display: none;
} */

/* .editor::-webkit-scrollbar-track-piece  {
    background-color: #eeeeee;
} */

/* editor::-webkit-scrollbar-thumb:vertical {
    background: #d9d9d9;
    border-radius: 16px;
} */

.editorContainer{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.editorLabel{
    color: var(--inputLabel);
    /* font-size: 13px;*/
    padding-left: 5px;
    font-size: .92857142857rem;
}

.toolbar{
    border-radius: 4px;
    border: 1px solid #efefef;
    /* flex-wrap: nowrap; */
    margin-top: 10px;
    color: #4c4c4c;
}

.toolbarOnFocus {
    position: absolute;
    z-index: 5;
    max-width: 700px;
}

.draggable {
    cursor: move;
}

:global(.mooskin-text-editor .rdw-colorpicker-modal){
    width: 300px;
    height: 160px;
}

:global(.mooskin-text-editor .rdw-colorpicker-modal-options){
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

:global(.rdw-link-modal-input) {
    width: 100%;
    padding: 5px;
}

:global(.rdw-link-modal-target-option){
    margin-bottom: 10px;
}

:global(.rdw-link-modal-target-option > input[type='checkbox']){
    width: 13px;
    height: 13px;
}

:global(.rdw-dropdown-carettoopen){
    top: 40%;
    border-top: 5px solid #4c4c4c;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

:global(.rdw-dropdown-carettoclose){
    top: 40%;
    border-bottom: 5px solid #4c4c4c;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

:global(.rdw-fontsize-dropdown){
    padding: 0px 11px;
    width: 60px;
    margin: 0;
}

:global(.rdw-option-wrapper){
    border: none;
}

/* :global(.public-DraftStyleDefault-block){
    white-space: nowrap;
} */

/* :global(.rdw-colorpicker-wrapper){
    padding: 0px 11px;
} */

/* :global(.rdw-emoji-wrapper){
    padding: 0px 5px 0px 5px;
    border-right: 1px solid #e5e5e5;
}

:global(.rdw-image-wrapper){
    padding: 0px 8px;
    border-right: 1px solid #e5e5e5;
}

:global(.rdw-remove-wrapper){
    padding: 0px 8px;
    border-right: 1px solid #e5e5e5;
} */

/* .editorContainer .rdw-link-modal{
    height: 220px;
} */

.alignDropdown {
    width: 48px;
    overflow-y: unset;
}

.customContainer{
    position: relative;
    display: flex;
    align-self: center;
    padding: 5px 0;
    min-width: 25px;
    width: 50px;
    height: 30px;
    border-radius: 2px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
    text-transform: capitalize;
    position: relative;
}

.tagsContainer {
    composes: customContainer;
}

.tagsLabel {
    align-self: center;
    margin: 0 4px;
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrowDown {
    height: 0px;
    width: 0px;
    /* position: absolute; */
    margin-left: 5px;
    border-top: 5px solid #4c4c4c;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.arrowUp {
    height: 0px;
    width: 0px;
    /* position: absolute; */
    margin-left: 5px;
    border-bottom: 5px solid #4c4c4c;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.tagsList{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    border: 1px solid #F1F1F1;
    z-index: 10;
    width: 180px;
    max-height: 162px;
    overflow-y: auto;
}

.tag {
    padding: 5px;
    width: 100%;
}

.tag:hover {
    background: #F1F1F1;
}

.disabled {
    display: none;
}

.htmlContainer {
    position: relative;
    align-self: center;
    user-select: contain !important;
}

.htmlContent {
    position: absolute;
    left: 4px;
    top: 20px;
    background: #fff;
    border: 1px solid #F1F1F1;
    z-index: 6;
    padding: 20px;
    /* overflow: auto; */
    height: 500px;
    width: 500px;
    user-select: contain !important;
}

.copyHtml{
    position: absolute;
    top: 20px;
    left: 4px;
    background: rgb(173, 173, 173);
    font-size: 12px;
    width: 68px;
    z-index: 7;
    cursor: pointer;
}

.separator {
    border-left: 1px solid #F1F1F1;
    height: 30px;
    padding-left: 5px;
    margin-left: 5px;
}

:global(.public-DraftStyleDefault-ol){
    padding-left: 45px;
    margin: 30px 0;
}

:global(.public-DraftStyleDefault-ul){
    padding-left: 40px;
    margin: 30px 0;
}

:global(.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR){
    margin: -14px 0;
}
/* @media (--xSmall){

    :global(.mooskin-textarea-editor .rdw-colorpicker-modal){
        position: fixed;
        top: 25%;
        left: 15%;
    }

    :global(.mooskin-textarea-editor .rdw-link-modal){
        position: fixed;
        top: 25%;
        left: 20%;
    }

    :global(.mooskin-textarea-editor .rdw-embedded-modal){
        position: fixed;
        top: 25%;
        left: 20%;
    }

    :global(.mooskin-textarea-editor .rdw-emoji-modal){
        position: fixed;
        top: 25%;
        left: 20%;
    }

    :global(.mooskin-textarea-editor .rdw-image-modal){
        position: fixed;
        top: 25%;
        left: 20%;
    }

} */


@media (--deviceXsmall){
    .toolbar{
        top: -170px;
    }
}