@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.checkitem {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
    color: #aaa;
    font-size: 1rem;
    display: flex;
    border-left: 1px solid #eaeaea;
    padding-left: 15px;
    margin-left: 15px;
    height: 25px;
}

.iconStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #dddddd;
    vertical-align: middle;
    /*font-size: 30px;*/
    font-size: 1.875rem;
    font-weight: 800;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
