@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.button {
    border-radius: 10px;
    /*font-size: 14px;*/
    /*padding: 10px 45;*/
    /* padding: 0.625rem 2.813rem; */
    font-size: .875rem;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    margin: 3px;
}

.anchor{
    display: block;
    text-decoration: none;
    color: inherit;
    /*font-size: 14px;*/
    /*padding: 10px 45;*/
    padding: 8px 38px;    
    cursor: pointer;
    outline: 0;
    transition: background-color 400ms ease;
}

.normalButton{
    background-color: var(--moosendBlue);
    border: 1px solid transparent;
    color: #ffffff;
    transition: background-color 400ms ease;
}

.inverseButton{
    background-color: #ffffff;
    border: 1px solid var(--moosendBlue);
    color: var(--moosendBlue);
    transition: 0.4s;
}

.disabledButton{
    cursor:not-allowed;
}

.disabledButton .anchor{
    cursor:not-allowed;
}

.normalButton:hover:enabled {
    background-color: var(--buttonHover);
}

.inverseButton:hover:enabled {
   border-color: var(--buttonHover);
   color: var(--buttonHover);
}