@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.steps {
    width: 100%;
}

.stepsContainer{
    display: flex;
    flex-direction: row;
}

.step{
    position: relative;
    width: 200px;
    text-align: center;
}

.step > a{
    display: block;
    font-size: 13px;
    text-decoration: none;
    padding-top:15px;
    padding-bottom: 15px;
    color: #e0e0e0;
    border-bottom: 1px solid #efefef;
}

.activeStep a{
    color: var(--moosendBlue);
    border-bottom: 2px solid  var(--moosendBlue);
}

.step > a:before{
    position: absolute;
    content: '';
    background: url(../../assets/images/arrows/icon_arrow_phases.png) center no-repeat;
    top: 18px;
    left: 0;
    width:6px;
    height: 9px;
    display: block;
}

.step:first-child > a:before{
    background: none;
}

.stepBody{
    padding: 10px;
}


@media (--deviceSmall){
    .step{
        width: 100%;
    }

    .step > a{
        font-size: 3vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

}

@media (--deviceXsmall){

    .step{
        width: 100%;
    }

    .step > a{
        font-size: 3vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

}