 /*@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/
 @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
 
.button {
    font-family: 'Material Icons';
    cursor: pointer;
    display: inline-block;
    outline: 0;
    transition: all 400ms ease;
}

.disabledButton.normalButton{
    cursor:not-allowed;
    background-color: #87dfed;
}

.disabledButton.inverseButton{
    cursor:not-allowed;
    color: #ccc;
}

.normalButton{
    background-color: #5ccdde;
    border-radius: 50%;
    border: 1px solid transparent;
    color: #ffffff;
    margin: 2px;
    font-size: 20px;
    height: 28px;
    width: 28px;
    padding: 3px;
}

.inverseButton{
    background-color: #ffffff;
    color: #bbb;
    font-size: 23px;
    border: 0;
    width: 23px;
    height: 23px;
    padding: 0px;
    margin: 3px;
    font-weight: 500;
}

.normalButton:hover:enabled {
    background-color: #4cb3c4;
}

.inverseButton:hover:enabled {
   color: #5ccdde;
}

.search::before {
    content: 'search';
    position: relative;
}

.add::before {
    content: 'add';
    position: relative;
}

.addbox::before {
    content: '\e146';
    position: relative;
}

.addcircle::before {
    content: '\e147';
    position: relative;
}

.addoutline::before {
    content: '\e148';
    position: relative;
}

.remove::before {
    content: 'remove';
    position: relative;
}

.removecircle::before {
    content: '\e15c';
    position: relative;
}

.removeoutline::before {
    content: '\e15d';
    position: relative;
}

.close::before {
    content: "close";
    position: relative;
}

.star::before {
    content: 'star';
    position: relative;
}

.account::before {
    content: '\e853';
    position: relative;
}

.build::before {
    content: 'build';
    position: relative;
}

.alarm::before {
    content: 'alarm';
    position: relative;
}

.alarmadd::before {
    content: '\e003';
    position: relative;
}

.alarmoff::before {
    content: '\e857';
    position: relative;
}

.alarmon::before {
    content: '\e858';
    position: relative;
}

.done::before {
    content: 'done';
    position: relative;
}

.favorite::before {
    content: 'favorite';
    position: relative;
}

.home::before {
    content: 'home';
    position: relative;
}

.power::before {
    content: '\e8ac';
    position: relative;
}

.settings::before {
    content: 'settings';
    position: relative;
}

.verified::before {
    content: '\e8e8';
    position: relative;
}

.visibility::before {
    content: 'visibility';
    position: relative;
}

.visibilityoff::before {
    content: '\e8f5';
    position: relative;
}

.alert::before {
    content: '\e003';
    position: relative;
}

.loop::before {
    content: 'loop';
    position: relative;
}

.play::before {
    content: '\e037';
    position: relative;
}

.pause::before {
    content: 'pause';
    position: relative;
}

.stop::before {
    content: 'stop';
    position: relative;
}

.contacts::before {
    content: 'contacts';
    position: relative;
}

.email::before {
    content: 'email';
    position: relative;
}

.mailoutline::before {
    content: '\e0e1';
    position: relative;
}

.forum::before {
    content: 'forum';
    position: relative;
}

.message::before {
    content: 'message';
    position: relative;
}

.create::before {
    content: 'create';
    position: relative;
}

.block::before {
    content: 'block';
    position: relative;
}

.send::before {
    content: 'send';
    position: relative;
}

.download::before {
    content: '\e2c4';
    position: relative;
}

.upload::before {
    content: '\e2c6';
    position: relative;
}

.down::before {
    content: '\e313';
    position: relative;
}

.up::before {
    content: '\e316';
    position: relative;
}

.left::before {
    content: '\e314';
    position: relative;
}

.right::before {
    content: '\e315';
    position: relative;
}

.edit::before {
    content: 'edit';
    position: relative;
}

.dropdown::before {
    content: '\e5c5';
    position: relative;
}

.dropup::before {
    content: '\e5c7';
    position: relative;
}

.check::before {
    content: 'check';
    position: relative;
}

.refresh::before {
    content: 'refresh';
    position: relative;
}

.sync::before {
    content: 'sync';
    position: relative;
}

.group::before {
    content: 'group';
    position: relative;
}

.groupadd::before {
    content: '\e7f0';
    position: relative;
}

.person::before {
    content: 'person';
    position: relative;
}

.personadd::before {
    content: '\e7fe';
    position: relative;
}

.notifications::before {
    content: 'notifications';
    position: relative;
}

.notificationsactive::before {
    content: '\e7f7';
    position: relative;
}

.notificationsnone::before {
    content: '\e7f5';
    position: relative;
}

.notificationsoff::before {
    content: '\e7f6';
    position: relative;
}

.notificationspaused::before {
    content: '\e7f8';
    position: relative;
}

.checkbox::before {
    content: '\e834';
    position: relative;
}

.indeterminatecheckbox::before {
    content: '\e909';
    position: relative;
}

.checkboxoff::before {
    content: '\e835';
    position: relative;
}

.radiochecked::before {
    content: '\e837';
    position: relative;
}

.radiounchecked::before {
    content: '\e836';
    position: relative;
}

.daterange::before {
    content: '\e916';
    position: relative;
}

.import::before {
    content: '\e0c3';
    position: relative;
}

.copy::before {
    content: '\e14d';
    position: relative;
}
