@import '../_utils/globals/screens.css';

.container{
    width: 100%;
    box-sizing: border-box;
}

.container > div{
    padding: 10px;
}

.container button{
    margin: 10px;
}

.form{
    display: block;
}

.horizontal{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.vertical{
    display: flex;
    flex-direction: column;
}


@media (--xSmall){
    .horizontal{display: flex; flex-direction: column}
}

@media (--small){
    .horizontal{display: flex; flex-direction: column}
}