@import '../_utils/globals/screens.css';

/* .container > div{
    padding: 10px;
}

.container button{
    margin: 10px;
} */

.form{
    display: block;
}

.horizontal{
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
}

.vertical{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


@media (--xSmall){
    .horizontal{display: flex; flex-direction: column}
}

@media (--small){
    .horizontal{display: flex; flex-direction: column}
}