@import '../_utils/globals/screens.css';

.table{
    width: 100%;
    border-collapse: collapse;
}

.tbody{
    border: 1px solid #eaeaea;
}

.th{
    background-color: #efefef;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #aaaaaa;
    font-size: .8rem;
    border-bottom: 1px solid #d4d4d4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.td{
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1rem;
    border-bottom: 1px solid #eaeaea;
    color:#6b6b6b;
}

.heading {
    display: none;
}

@media (--deviceXsmall){
    .thead{
        display: none;
    }

    .tr{
        display: flex;
        flex-direction: column;
        border: 3px solid #eaeaea;
        box-shadow: 10px 10px 30px #eaeaea;
    }

    .tr + .tr{
        margin-top: 50px;
    }

    .heading{
        display: block;
        font-weight: 800;
        flex: 1;
        text-align: left;
    }

    .tdContent{
        display: flex;
        flex-direction: row;
        font-size: 3vw;
    }

    .td{
        border: none;
        padding: 20px;
    }

    .td + .td {
        border-top: 1px solid #eaeaea
    }

    /* .td:nth-child(even){
        background: #eaeaea;
    } */

    .content{
        flex: 1;
        text-align: left;
        font-size: 3vw;
    }
    
    .tbody{
        border: none;
    }
}