@import '../_utils/globals/screens.css';
@import url('https://cdn.moostaging.com/assets/fonts/material-icons/material-icons.css');

.tableWrapper{
    display: flex;
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
}

.alternate{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    box-sizing: border-box;
}

.alternateHeader{
    background: #f2f2f2;
    color: #c2c2c2;
    font-size: .78571428571rem;
    padding: 10px;
    font-weight: 100;
    text-align: left;
}

th.alternateHeader:first-child{
    border-radius: 8px 0 0 8px;
}

th.alternateHeader:nth-child(2){
    border-radius: 8px 0 0 8px;
}

th.alternateHeader:last-child{
    border-radius: 0 8px 8px 0;
}

.header{
    background-color: #efefef;
    padding: 10px;
    color: #aaaaaa;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    user-select: none;
}

.sortHeader{
    cursor: pointer;
}

.col{
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    font-size: 1rem;
    color: #6b6b6b;
    justify-content: center;
}

.alternateCol{
    vertical-align: middle;
    background: #f2f2f2;
    padding: 13px;
    margin: 5px 0 5px 0;
    font-size: .85714285714rem;
    color: #636363;
    transition: 0.3s;
}

td.alternateCol:nth-child(2){
    border-radius: 8px 0 0 8px;
}

td.alternateCol:last-child{
    border-radius: 0 8px 8px 0;
}

.row{
    border-bottom: 1px solid #eaeaea;
}

.alternateRow{
    border: 0px;
}

.alternateRow:hover .alternateCol, .alternateRow:hover .alternateButton{
    background: #5ccdde;
    color: #fff;
}

.alternateRow:hover .alternateButton i, .alternateRow:hover .alternateCol i{
    color: #fff;
}

.arrow{
    width: 16px;
    height: 16px;
    font-size: 16px;
    vertical-align: middle;
    position: absolute;
}

.heading {
    display: none;
}

.popover{
    display: none;
    color: #636363;
}

.cover{
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.buttonCol{
    display: none;
    padding: 20px 10px;
    position: relative;
}

.alternateButton{
    transition: 0.3s;
    background: #f2f2f2;
    border-radius: 8px 0 0 8px;
}

.buttonHeader{
    display: none;
    padding-top: 8px;
    padding-bottom: 9px;
    padding: 11px;
}

.contentContainer{
    display: flex;
    flex-direction: inherit;
    justify-content: inherit;
}

.pagination{
    margin-top: 20px;
}

@media (--xSmall){
    .hide{
        display: none;
    }

    .smallContent{
        display: none;
    }

    .buttonCol{
        display: block;
    }

    .buttonHeader{
        display: block;
    }

    .popover{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1px;
        left: 1px;
        width: 84vw;
        background: #fff;
        box-shadow: 5px 5px 20px #bfbfbf;
        z-index: 5;
        overflow: hidden;
    }

    .popover .heading{
        display: block;
        font-weight: 800;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: left;
    }

    .popoverCol{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        padding: 10px;
    }

    .popover .content{
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: left;
        /* flex-direction: column; */
        justify-content: center;
    }

    .popover .toggleButton{
        display: none;
    }

    .inactive{
        z-index: -1;
        opacity: 0;
        transition: z-index 0.5s step-end, opacity 0.3s linear;
    }

    .active{
        z-index: 1;
        opacity: 1;
        transition: z-index 0.5s step-start, opacity 0.3s linear;
    }

    .popover .buttonCol{
        display: none;
    } 

    .buttonCol i{
        font-size: 30px;
    } 

    .popoverCol i{
        font-size: 24px;
    }

    .buttonHeader{
        text-indent: -9999px;
    }

    th.alternateHeader:nth-child(2){
        border-radius: 0;
    }

    td.alternateCol:nth-child(2){
        border-radius: 0;
    }

}

@media (--deviceXsmall){
    .col{
        font-size: 4vw;
    }
}

@media (--small){
    .hide{
        display: none;
    }

    .smallContent{
        display: none;
    }

    .buttonCol{
        display: block;
    }

    .buttonHeader{
        display: block;
    }

    .popover{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1px;
        left: 1px;
        width: 90vw;
        background: #fff;
        box-shadow: 5px 5px 20px #bfbfbf;
        z-index: 5;
        overflow: hidden;
    }

    .popover .heading{
        display: block;
        font-weight: 800;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: left;
    }

    .popoverCol{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        padding: 10px;
    }

    .popover .content{
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: left;
        /* flex-direction: column; */
        justify-content: center;
    }

    .popover .toggleButton{
        display: none;
    }

    .inactive{
        z-index: -1;
        opacity: 0;
        transition: z-index 0.5s step-end, opacity 0.3s linear;
    }

    .active{
        z-index: 1;
        opacity: 1;
        transition: z-index 0.5s step-start, opacity 0.3s linear;
    }

    .popover .buttonCol{
        display: none;
    } 

    .buttonCol i{
        font-size: 30px;
    }

    .popoverCol i{
        font-size: 24px;
    }

    .buttonHeader{
        text-indent: -9999px;
    }

    th.alternateHeader:nth-child(2){
        border-radius: 0;
    }

    td.alternateCol:nth-child(2){
        border-radius: 0;
    }

}