:root {
    --gray: #ccc;
    --green: #8ce196;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 2px;
  padding: 2px;
  cursor: pointer;
  border-radius: 34px;
  background-color: var(--gray);
}

.disabledSwitch {
    cursor: not-allowed;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  display: inline-block;
  width: 36px;
  height: 16px;
  padding: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 16px;
  background-color: var(--gray);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked {
  background-color: var(--green);
}

input:checked + .slider:before {
  background-color: var(--green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 45%;
}