@import url('https://fonts.googleapis.com/css?family=Convergence');

.sliderContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

.sliderContainer input[type=range], .sliderContainer input[type=range]::-webkit-slider-thumb {
    appearance: none;
    background: transparent;
}

.slider {
    flex: 1;
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s;
}

.slider:disabled {
    opacity: 1;
}

.slider:hover{
    opacity: 1;
}

.disabled {
    cursor: not-allowed;
}

.sliderLabel {
    color: #6b6b6b;
     /* font-size: 13px;  */
     font-size: .92857142857rem; 
     margin-bottom: 5px;
}

.trackLabels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.trackLabel {
    color: #6b6b6b;
     /* font-size: 13px;  */
     font-size: .75rem; 
}

.tooltip{
    position: absolute;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #eaeaea;
    top: -20px;
    left: 0px;
    z-index: 1;
    background: #ffffff;
    font-family: Convergence,sans-serif;
    font-size: .875rem;
    font-family: 'Convergence', sans-serif;
}

.sliderContainer input[type=range]::-webkit-slider-thumb {
    appearance: none;
    border: 1px solid #d3d3d3;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background: #efefef;
    cursor: pointer;
    margin-top: -4px;
    box-shadow: 1px 1px 1px #aaa, 0px 0px 1px #aaa;
}

.sliderContainer input[type=range]:active::-webkit-slider-thumb {
    background: #ffffff;
}

.sliderContainer input[type=range]:disabled::-webkit-slider-thumb {
    background: #dbdbdb;
    opacity: 1;
    cursor: not-allowed;
}

.sliderContainer input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    height: 13px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #aaa, 0px 0px 1px #aaa;
    /* background: transparent; */
    border-radius: 1.3px;
    border: 0.2px solid #aaa;
}

.sliderContainer input[type=range]:disabled::-webkit-slider-runnable-track {
    appearance: none;
    background: #e9e9e9;
    cursor: not-allowed;
    opacity: 1;
}

.sliderContainer input[type=range]::-moz-range-track {
    appearance: none;
    height: 13px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #aaa, 0px 0px 1px #aaa;
    /* background: transparent; */
    border-radius: 1.3px;
    border: 1px solid #aaa;
}

.sliderContainer input[type=range]::-ms-track {
    appearance: none;
    height: 13px;
    cursor: pointer;
    /* background: transparent; */
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

.fill {
    height: 13px;
    width: 0px;
    cursor: pointer;
    background: #eeeeee;
    box-shadow: 1px 1px 1px #aaa, 0px 0px 1px #aaa;
    /* background: transparent; */
    border-radius: 3px;
    border: 0.2px solid #aaa;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;
}

.disabledFill{
    background: #cccccc;
}

.edgeClasses {
    width: 100%;
}

input.edgeClasses[type=range]::-ms-fill-lower {
    background: #eeeeee;
    border: 0.2px solid #aaa;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #aaa, 0px 0px 1px #aaa;
}

input.edgeClasses[type=range]::-ms-fill-upper {
    background: #fff;
    box-shadow: 1px 1px 1px #aaa, 0px 0px 1px #aaa;
    /* background: transparent; */
    border-radius: 1.3px;
    border: 0.2px solid #aaa;
}

.abContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100px;
}

.abContainer input[type=range]::-webkit-slider-thumb {
    appearance: none;
    border: 1px solid #d3d3d3;
    height: 110px;
    width: 20px;
    border-radius: 4px;
    background: #efefef;
    cursor: pointer;
    margin-top: -4px;
    box-shadow: 1px 1px 1px #aaa, 0px 0px 1px #aaa;
    background: green;
}

.abContainer input[type=range], .abContainer input[type=range]::-webkit-slider-thumb {
    appearance: none;
    background: transparent;
}

.abContainer input[type=range]::-webkit-slider-thumb {
    appearance: none;
    border: 1px solid #d3d3d3;
    height: 110px;
    width: 10px;
    border-radius: 4px;
    background: #efefef;
    cursor: pointer;
    margin-top: 0px;
    box-shadow: 1px 1px 1px #aaa, 0px 0px 1px #aaa;
}

.abContainer input[type=range]::-webkit-slider-thumb:hover {
    cursor: col-resize;
}

.abContainer input[type=range]:active::-webkit-slider-thumb {
    background: #ffffff;
}

.abContainer input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
}

.abContainer input[type=range]:disabled::-webkit-slider-runnable-track {
    appearance: none;
}

.abContainer input[type=range]::-moz-range-track {
    appearance: none;
}

.abContainer input[type=range]::-ms-track {
    appearance: none;
}

.section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    text-align: center;
}

.font {
    font-size: 32px;
    font-weight: 400;
    color: #6b6b6b;
    font-family: Convergence,sans-serif;
}

.abContainer input:hover {
    cursor: col-resize;
}

.sectionA {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #5ccddf;
}

.sectionB {
    background: #f48770;
}

.sectionW {
    background: #f2c14a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.abSlider{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}