:root {
    --inputBackground: #efefef;
    --inputColor: #bebebe;
    --inputFontFamily: Arial,sans-serif;
    --moosendBlue: #5ccdde;
    --radioHover: #95dee9;
    --buttonHover: #4cb3c4;
    --checkRadioGrey: #7b7b7b;
    --disabledCheckRadio: #b2b2b2;
    --italicDescription: #b3b3b3;
    --heading: #6b6b6b;
    --inputLabel: #6b6b6b;
    --inputPlaceholder: #bebebe;
    --inputFontColor: #9e9e9e;
}