
.carouselContainer {
    margin: 0 auto;
    padding: 20px 25px;
}

.arrowContainer {
    cursor: pointer;
    height: 100%;
    width: 40px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 25px;
    height: 25px;
    transition: .5s;
    box-shadow: -2px 2px 0 #5ccdde;
}

.arrowLeft {
    composes: arrow;
    transform: rotate(45deg) translateX(4px) translateY(-4px);
}

.arrowRight {
    composes: arrow;
    transform: rotate(225deg) translateX(4px) translateY(-4px);
}

.dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '\2022';
    text-align: center;
    opacity: .25;
    color: #5ccdde;
    -webkit-font-smoothing: antialiased;
}

.dots li button:before:hover {
    opacity: .75;
}

.dots li.slick-active button::before{
    background: red;
}

/* .dots li.slick-active button::before {
    opacity: 1;
    color: #5ccdde;
} */

:global(.slick-next:before){
    display: none;
}

:global(.slick-prev:before){
    display: none;
}

:global(.slick-slide){
    height: auto;
}

/* :global(.slick-next){
    display: flex;
    
} */