@import '../_utils/globals/variables.css';

:root {
  --inactive: #E6E6E6;
  --disabled: #C5C5C5;
}

.switchContainer{
  display: flex;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #6b6b6b;
  /* font-size: 13px; */
  font-size: .92857142857rem;
  cursor: pointer;
  flex-basis: 150px;
  vertical-align: 13px;
}

.switch {
  position: relative;
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 27px;
  margin: 2px;
  cursor: pointer;
  border-radius: 36px;
  transition: background-color .4s;
  text-align: center;
}

.onSwitch{
  background-color: var(--moosendBlue);
  padding: 3px 23px 3px 5px;
}

.offSwitch{
  background-color: var(--inactive);
  padding: 3px 5px 3px 23px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  height: 19px;
  width: 19px;
  background-color: white;
  transition: transform .4s;
  border-radius: 50%;

}

.onSlider .slider {
  transform: translate(63px);
}

.text {
  display: flex;
  flex: 1;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-family: Arial,sans-serif;
  line-height: 1;
  font-size: 10px;
  user-select: none;
  font-weight: 500;
}

.disabledSwitch > .text {
  cursor: not-allowed;
}

.disabledSwitch {
  background-color: var(--disabled);
  padding: 0px;
}

.disabledSwitch > .slider {
  display: none;
}

