@import url('https://cdn.moosend.com/assets/fonts/google-web-fonts/fonts.css');
@import '../../_utils/globals/variables.css';

.h6 {
    font-family: 'Convergence', 'Alegreya Sans', sans-serif;
    /*font-size: 10px;*/
    font-size: 0.625rem;
    color: var(--smallHeading);
    margin: 19px 0;
}