@import url('https://fonts.googleapis.com/css?family=Convergence');
@import '../../_utils/globals/global.css';

.h6 {
    font-family: 'Convergence', sans-serif;
    /*font-size: 10px;*/
    font-size: 0.625rem;
    font-weight: 400;
    color: var(--heading);
}