@import url('https://cdn.moostaging.com/assets/fonts/google-web-fonts/fonts.css');
@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.list{
    display: flex;
    flex-direction: column;
    background: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.listItem{
    /* display: flex; */
    /* flex-direction: row; */
    position: relative;
}

.listItem + .listItem {
    border-top: 1px solid #efefef;
}

/* .image{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.image img{
    flex-shrink: 0;
    flex-grow: 0; 
    min-width: 100%;
    max-width: 100%;   
}

.titleContainer{
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.detailsContainer{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
}

.title{
    font-family: 'Convergence', 'Alegreya Sans', sans-serif;
    font-size: 1.25rem;
}

.description{
    color: var(--italicDescription);
    font-size: .78571428571rem;
} */

.content:hover {
    background: #F6F6F6;
}

.expandedSection {
    background: #f9f9f9;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    transition: all 0.4s;
    position: relative;
    /* overflow: hidden; */
    /* height: 1px; */
}

.arrow {
    top: 1px;
    left: 20px;
    z-index: 5;
    position: absolute;
}

.innerArrow{
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #eaeaea;
    /* border-bottom: 20px solid black; */
    position: absolute;
    bottom: 0px;
}

.borderArrow{
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 19px solid #f9f9f9;
    z-index: 11;
    position: absolute;
    bottom: 0px;
    left: 1px;
}

@media(--xSmall){

    /* .listItem{
        flex-direction: column;
    } */

    .detailsContainer{
        margin-bottom: 15px;
    }

    .titleContainer{
        flex: 3;
    }
}