.loader{
    transition: width 400ms linear;
    position: relative;
}

.loaderContainer{
    width: 100%;
}

.label{
    font-size: 14px;
    /* font-size: 1rem; */
    text-align: left;
    display: flex;
    align-items: center;
}

.number {
    /* color: #414141; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}