@import url('https://fonts.googleapis.com/css?family=Convergence');
@import '../../_utils/globals/global.css';

.h5 {
    font-family: 'Convergence', sans-serif;
    /*font-size: 12px;*/
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--heading);
}
