@import url('https://fonts.googleapis.com/css?family=Convergence');
@import '../../_utils/globals/variables.css';
@import '../../_utils/globals/screens.css';

.h5 {
    font-family: 'Convergence', sans-serif;
    /*font-size: 12px;*/
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--heading);
}

@media (--deviceSmall){
    .h5 {
        font-size: 1.8vw;
    }
}

@media (--deviceXsmall){
    .h5 {
        font-size: 1.8vw;
    }
}