@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.areaContainer{
    display: flex;
}

.textAreaDiv{
    width: 100%;
}

.textarea{
    padding: 7px;
    font-family: Arial,sans-serif;
    border: 0;
    color: var(--inputFontColor);
    font-size: 1rem;
    border-radius: 8px;
    background: #efefef;
    width: 100%;
}

.textarea::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

.textarea::-webkit-scrollbar-button:start:decrement,
.textarea::-webkit-scrollbar-button:end:increment  {
    display: none;
}

.textarea::-webkit-scrollbar-track-piece  {
    background-color: #eeeeee;
}

textarea::-webkit-scrollbar-thumb:vertical {
    background: #d9d9d9;
    border-radius: 16px;
}

.disabledTextArea{
    cursor:not-allowed;
    color: #bfbfbf;
    background: #f6f6f6;
    resize: none;
}

.textarea::placeholder {
    color: var(--inputPlaceholder);
}

.textarea:focus {
    outline: none;
    color:#333333;
}

.textareaLabel {
    color: var(--inputLabel);
    /* font-size: 13px;*/
    font-size: .92857142857rem;
    padding-top: 7px;
    cursor: pointer;
    flex-basis: 150px;
}

.editorLabel{
    color: var(--inputLabel);
    /* font-size: 13px;*/
    font-size: .92857142857rem;
}

 .toolbar{
    position: absolute;
    z-index: 10;
    top: -55px;
} 

.areaContainer .description{
    display: block;
    color: #b3b3b3;
    font-size: .78571428571rem;
    margin-left: 3px;
}

.editorContainer{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}


:global(.mooskin-textarea-editor .rdw-colorpicker-modal){
    width: 300px;
    height: 160px;
}

:global(.mooskin-textarea-editor .rdw-colorpicker-modal-options){
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.editorContainer .rdw-link-modal{
    height: 220px;
}

@media (--xSmall){
    .areaContainer{
        display: flex;
        flex-direction: column
    }
    
    .textareaLabel{
        flex-basis: 10px;
        padding-top: 0px;
        margin-left: 3px;
    }

    :global(.mooskin-textarea-editor .rdw-colorpicker-modal){
        position: fixed;
        top: 25%;
        left: 15%;
    }

    :global(.mooskin-textarea-editor .rdw-link-modal){
        position: fixed;
        top: 25%;
        left: 20%;
    }

    :global(.mooskin-textarea-editor .rdw-embedded-modal){
        position: fixed;
        top: 25%;
        left: 20%;
    }

    :global(.mooskin-textarea-editor .rdw-emoji-modal){
        position: fixed;
        top: 25%;
        left: 20%;
    }

    :global(.mooskin-textarea-editor .rdw-image-modal){
        position: fixed;
        top: 25%;
        left: 20%;
    }

}


@media (--deviceXsmall){
    .toolbar{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}