.textarea{
    padding: 15px;
    font-family: Arial,sans-serif;
    border: 0;
    color: #9e9e9e;
    font-size: 16px;
    border-radius: 8px;
    background: #efefef;
    display: table-cell;
}

.disabledTextArea{
    cursor:not-allowed;
    color: #bfbfbf;
    background: #f6f6f6;
    resize: none;
}

.textarea::placeholder {
    color: #bebebe;
}

.textarea:focus {
    outline: none;
    color:#333333;
}

.textareaLabel {
    color: #6b6b6b;
    font-size: 13px;
    font-size: .92857142857rem;
    vertical-align: top;
    cursor: pointer;
}

.textareaLabel i{
    display: block;
    color: #b3b3b3;
    font-size: .78571428571rem;
    margin-left: 7px;
}
