/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');

/* Global Styles */
* {
    box-sizing: border-box;
    outline: none;
    font-family: Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    color: #2d2d2d;
}

/* Mooskin Icons */
@font-face {
    font-family: 'Mooskin Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/mooskin-icons/outlined.woff2') format('woff2');
}
@font-face {
    font-family: 'Mooskin Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/mooskin-icons/regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Mooskin Icons Round';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/mooskin-icons/round.woff2') format('woff2');
}
@font-face {
    font-family: 'Mooskin Icons Sharp';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/mooskin-icons/sharp.woff2') format('woff2');
}
@font-face {
    font-family: 'Mooskin Icons Two Tone';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/mooskin-icons/two-tone.woff2') format('woff2');
}

.mooskin-icons {
    font-family: 'Mooskin Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
}
