@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.containerHorizontal {
    width: 100%;
}

.containerVertical {
    display:flex;
    flex-direction: row;
}

.headerVertical {
    flex-direction: column;
    flex: 1; 
}

.headerVertical > .radio + .radio{
    margin-top: 10px;
}

.headerHorizontal {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.headerHorizontal > .radio + .radio{
    margin-left: 10px;
}

.content {
    flex: 2;
    margin-left: 10px;
    display: block;
    width: 100%;
    padding-left: 10px;
    color: #7b7b7b;
    font-size: 0.875rem;
    border-left: 1px solid var(--moosendBlue);
}

.contentHorizontal{
    padding-top: 10px;
    border-top: 1px solid var(--moosendBlue);
}

.container > .content {
    margin: 0px;
    height: 100%;
}

.radio {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    color: var(--moosendBlue);
    background: transparent;
    transition: background-color 0.3s;
    border: 1px solid var(--moosendBlue);
    padding: 12px;
    cursor: pointer;
}

.radio:hover {
    background-color: var(--radioHover);
    color: #fff;
    border-color: var(--radioHover);
}

.radio input[type='radio'] {
    appearance: none;
    margin: 0 auto;
    cursor: pointer;
    width: 1.188rem;
    height: 1.188rem;
    padding: 0.3425rem;
    background: #fff;
    border-radius:50%;
    border: 1px solid var(--moosendBlue);
}

.radio:hover input[type='radio']{
    border-color: var(--radioHover);
}

.radio input[type='radio']:checked::after {
    background: var(--moosendBlue);
    content:'';
    display: block;
    width: 0.375rem;
    height: 0.375rem;
    border-radius:50%; 
}

.radio label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 0.875rem;
    width: 100%;
    height: 100%;
}

.radio span {
    margin-left: 10px;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
}

.checkedRadio {
    background: var(--moosendBlue);
    color: #fff;
}

.checkedRadio:hover {
    background: var(--moosendBlue);
    border-color: var(--moosendBlue);
}

.checkedRadio:hover input[type='radio']{
    border-color: var(--moosendBlue);
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

@media (--xSmall){
    .headerHorizontal{flex-direction: column}
    .headerHorizontal > .radio + .radio{margin: 10px 0 0 0}

    .containerVertical{flex-direction: column}
    .content{
        border-left: none;
        border-top: 1px solid var(--moosendBlue);
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 10px;
        margin-top: 10px;
    }

}

@media (--small){
    .headerHorizontal{flex-direction: column}
    .headerHorizontal > .radio + .radio{margin: 10px 0 0 0}

    .containerVertical{flex-direction: column}
    .content{
        border-left: none;
        border-top: 1px solid var(--moosendBlue);
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 10px;
        margin-top: 10px;
    }
}

@media (--deviceXsmall){
    .headerHorizontal{flex-direction: column}
    .headerHorizontal > .radio + .radio{margin: 10px 0 0 0}

    .containerVertical{flex-direction: column}
    .content{
        border-left: none;
        border-top: 1px solid var(--moosendBlue);
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 10px;
        margin-top: 10px;
        font-size: 3.3vw;
    }
    .contentHorizontal{
        font-size: 3.3vw;
    }

    .radio label{
        font-size: 4vw;
    }

    .radio{
        padding: 2vw;
    }

    .radio input[type='radio']{
        height: 4vw;
        width: 4vw;
        padding: 1vw;
    }

    .radio input[type='radio']:checked::after{
        height: 1.7vw;
        width: 1.7vw;
    }
}

@media (--deviceSmall){
    .headerHorizontal{flex-direction: column}
    .headerHorizontal > .radio + .radio{margin: 10px 0 0 0}

    .containerVertical{flex-direction: column}
    .content{
        border-left: none;
        border-top: 1px solid var(--moosendBlue);
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 10px;
        margin-top: 10px;
        font-size: 3.3vw;
    }
    .contentHorizontal{
        font-size: 3.3vw;
    }

    .radio label{
        font-size: 4vw;
    }

    .radio{
        padding: 2vw;
    }

    .radio input[type='radio']{
        height: 4vw;
        width: 4vw;
        padding: 1vw;
    }

    .radio input[type='radio']:checked::after{
        height: 1.7vw;
        width: 1.7vw;
    }
}