.containerHorizontal {
    display: grid;
    grid-gap: 10px;
}

.containerVertical {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.headerVertical {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;    
}

.headerHorizontal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.content {
    padding: 10px;
    border-radius: 8px;
    color: #7b7b7b;
    border: 1px solid #f2f2f2;
    font-size: 0.875rem;
}

.radio span {
    margin-left: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.radio {
    border-radius: 8px;
    color: #5ccdde;
    background: transparent;
    transition: 0.3s;
    border: 1px solid #5ccdde;
}

.radio:hover {
    background-color: #95dee9;
    color: #fff;
    border-color: #95dee9;
}

.radio input[type='radio'] {
    vertical-align: middle;
    appearance: none;
    margin: 0 auto;
    cursor: pointer;
    width: 1.188rem;
    height: 1.188rem;
    padding: 0.3125rem;
    background: #fff;
    border-radius:50%;
    border: 1px solid #5ccdde;
}

.radio:hover input[type='radio']{
    border-color: #95dee9;
}

.radio input[type='radio']:checked:before {
    background:#5ccdde;
    content:'';
    display:block;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius:50%; 
}

.radio label {
    display: inline-block;    
    cursor: pointer;
    padding: 12px;
    height: 100%;
    display: block; 
    border-radius: 8px;
    font-size: 0.875rem;
    width: 100%;
    height: 100%;
}

.checkedRadio {
    background: #5ccdde;
    color: #fff;
}

.checkedRadio:hover {
    background: #5ccdde;
    border-color: #5ccdde;
}

.checkedRadio:hover input[type='radio']{
    border-color: #5ccdde;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}