@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.fileContainer{
    display: flex;
    flex: 1;
}

.contentContainer{
    display: flex;
    flex: 1;
}

.button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    /*font-size: 14px;*/
    /*padding: 10px 45;*/
    /* padding: 0.625rem 2.813rem; */
    font-size: .875rem;
    margin: 3px;
    background-color: var(--moosendBlue);
    border: 1px solid transparent;
    color: #ffffff;
    padding: 8px 38px;
}

.name{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    font-family: Arial,sans-serif;
    color: var(--inputFontColor);
    /*font-size: 16px*/
    font-size: 1rem;
    border-radius: 8px;
    background: #efefef;
}

.input{
    outline: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
}

.disabledFile{
    cursor: not-allowed;
}

.label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 100px;
    color: var(--inputLabel);
    /* font-size: 13px; */
    font-size: .92857142857rem;
    flex-basis: 150px;
}

.disabledFile > .name{
    cursor: not-allowed;
    color: #bfbfbf;
    background: #f6f6f6;
}

.disabledFile > .button{
    background: var(--radioHover);
}

.disabledFile > .input{
    cursor: not-allowed;
}

.description{
    display: block;
    color: var(--italicDescription);
    font-size: .78571428571rem;
    margin-left: 3px;
    margin-top: 5px;
}

.success{
    box-shadow: inset 0px 0px 0px 2px #00cc44;
}

.error{
    box-shadow: inset 0px 0px 0px 2px #ec3232;
}

.descError{
    color: #ec3232;
}

.descSuccess{
    color: #00cc44;
}

@media (--xSmall){
    .fileContainer{flex-direction: column}
    .contentContainer{flex-direction: column}
    .label{
        margin-left: 3px;
        flex-basis: 20px;
    }

    .name{
        margin-bottom: 5px
    }

}
