@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.fileContainer{
    display: flex;
    position: relative;
    margin: 3px;
}

.button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    /*font-size: 14px;*/
    /*padding: 10px 45;*/
    /* padding: 0.625rem 2.813rem; */
    font-size: .875rem;
    margin: 3px;
    background-color: var(--moosendBlue);
    border: 1px solid transparent;
    color: #ffffff;
    padding: 8px 38px;
}

.name{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    font-family: Arial,sans-serif;
    color: var(--inputFontColor);
    /*font-size: 16px*/
    font-size: 1rem;
    border-radius: 8px;
    background: #efefef;
}

.input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
}

.disabledFile{
    cursor: not-allowed;
}

.label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 100px;
    color: var(--inputLabel);
    /* font-size: 13px; */
    font-size: .92857142857rem;
}

.disabledFile > .name{
    cursor: not-allowed;
    color: #bfbfbf;
    background: #f6f6f6;
}

.disabledFile > .button{
    background: var(--radioHover);
}

.disabledFile > .input{
    cursor: not-allowed;
}

@media (--xSmall){
    .fileContainer{display: flex; flex-direction: column}
    .label{
        margin-left: 3px;
        flex-basis: 20px;
    }

    .name{
        margin-bottom: 5px
    }

}

@media (--deviceXsmall){
    .fileContainer{display: flex; flex-direction: column}
    .label{
        margin-left: 3px;
        max-height: 30px;
        font-size: 4vw;
    }

    .name{
        font-size: 4vw;
        padding: 2vw;
        margin-bottom: 5px
    }

    .button{
        font-size: 3.3vw;
    }

}

@media (--deviceSmall){
    .fileContainer{display: flex; flex-direction: column}
    .label{
        margin-left: 3px;
        max-height: 40px;
        font-size: 4vw;
    }

    .name{
        font-size: 4vw;
        padding: 2vw;
        margin-bottom: 5px;
    }

    .button{
        font-size: 3.3vw;
    }
}

