.container {
    display: flex;
    flex-direction: column;
    width: 100%
}

.radio span {
    margin-left: 10px;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
}

.radio {
    border-radius: 8px;
    color: #5ccdde;
    background: transparent;
    transition: 0.3s;
    border: 1px solid #5ccdde;
    padding: 0px 12px;
    cursor: pointer;
}

.container + .container {
    margin-top: 10px;
}

.radio:hover {
    background-color: #95dee9;
    color: #fff;
    border-color: #95dee9;
}

.radio input[type='radio'] {
    vertical-align: middle;
    appearance: none;
    margin: 0 auto;
    cursor: pointer;
    width: 1.188rem;
    height: 1.188rem;
    padding: 0.3425rem;
    background: #fff;
    border-radius:50%;
    border: 1px solid #5ccdde;
}

.radio:hover input[type='radio']{
    border-color: #95dee9;
}

.radio input[type='radio']:checked::after {
    background:#5ccdde;
    content:'';
    display:block;
    width: 0.375rem;
    height: 0.375rem;
    border-radius:50%; 
}

.radio label {
    cursor: pointer;
    height: 100%;
    display: inline-block; 
    font-size: 0.875rem;
    width: 97%;
    padding: 12px 0px;
}

.checkedRadio {
    background: #5ccdde;
    color: #fff;
}

.checkedRadio:hover {
    background: #5ccdde;
    border-color: #5ccdde;
}

.checkedRadio:hover input[type='radio']{
    border-color: #5ccdde;
}

.content {
    color: #7b7b7b;
    font-size: 0.875rem;
    padding: 10px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}