@import url('https://cdn.moostaging.com/assets/fonts/google-web-fonts/fonts.css');
@import '../../_utils/globals/variables.css';

.h1 {
    font-family: 'Convergence', 'Alegreya Sans', sans-serif;
    /*font-size: 28px;*/
    font-size: 1.75rem;
    color: var(--heading);
    margin: 19px 0;
}