@import url('https://fonts.googleapis.com/css?family=Convergence');
@import '../../_utils/globals/variables.css';

.h1 {
    font-family: 'Convergence', sans-serif;
    /*font-size: 28px;*/
    font-size: 2rem;
    font-weight: 400;
    color: var(--heading);
}