@import '../_utils/globals/screens.css';
@import '../_utils/globals/variables.css';
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:500|Convergence');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dateRange{
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
}

.wrapper{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    color: var(--inputFontColor);
}

.label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #6b6b6b;
     /* font-size: 13px;  */
     font-size: .92857142857rem; 
    cursor: pointer;
    align-self: flex-start;
    padding-top: 15px;
    flex-basis: 150px;
}

.description{
    display: block;
    color: var(--italicDescription);
    font-size: .78571428571rem;
    margin-top: 10px;
}

.cover{
    position: fixed;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.icon {
    color: #bebebe;
    font-size: 22px;
    border: 0;
    width: 22px;
    height: 22px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    user-select: none;
}

.dateInput{
    outline: none;
    padding: 15px;
    font-family: Arial,sans-serif;
    border: 0;
    color: var(--inputFontColor);
    /* font-size: 16px; */
    font-size: 1rem; 
    border-radius: 8px;
    background: #efefef;
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
}

.disabled{
    cursor: not-allowed;
    color: #bfbfbf;
    background: #f6f6f6;
}

.rangeCalendar{
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 99;
    box-shadow: 1px 10px 20px rgba(0,0,0,.2);
}

.dateRangeSelect div[class*=alternateContainer]{
    box-shadow: none;
    border-radius: 0px;
}

:global(.daterange-component .m-input-moment){
    background-color: #ffffff;
    user-select: none;
    /* height: 360px; */
    padding: 0;
    width: 300px;
    border-radius: 0;
    border: 0;
}

:global(.daterange-component .m-input-moment .tabs){
    margin: 0;
    /* height: 285px; */
    padding: 0 !important;
}

:global(.m-input-moment .tabs .m-calendar){
    height: unset;
}

:global(.m-input-moment .tabs .m-time){
    height: unset;
    padding-top: 0;
}

:global(.m-time.is-active){
    display: flex !important;
    flex-direction: column-reverse;
}

:global(.daterange-component .m-input-moment .options){
    display: none !important;
}

:global(.daterange-component .m-calendar tbody td){
    border: none;
    border-radius: 3px;
}

:global(.daterange-component .m-calendar tbody td:hover){
    background: #5ccdde;
}

:global(.daterange-component .m-calendar .toolbar){
    background: #5ccdde;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    height: 45px;
}

:global(.daterange-component .m-calendar .toolbar button){
    border: none;
    background: transparent;
    margin: 0 5px;
    height: 100%;
}

:global(.daterange-component .m-calendar .toolbar button > *){
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:global(.daterange-component .m-calendar thead td){
    color: #5ccdde;
    border: none;
}

:global(.daterange-component .m-calendar table){
    margin-top: 6px;
}


:global(.daterange-component .m-calendar .toolbar .current-date){
    color: #fff;
    text-transform: uppercase;
}

:global(.daterange-component .m-input-moment .btn-save){
    display: none;
}

/* :global(.daterange-component .m-time .time){
    background: #5ccdde;
} */

/* :global(.daterange-component .m-time .separater){
    color: #5ccdde;
} */

:global(.daterange-component .u-slider-time .value){
    background: #fff;
}

:global(.daterange-component .u-slider-time){
    background: #000;
    height: 3px;
    width: 60%;
    align-self: center;
}

:global(.daterange-component .u-slider-time .handle:after){
    border: none;
    top: -3px;
    width: 10px;
    height: 10px;
    left: -5px;
}

/* :global(.daterange-component .m-time .time-text){
    text-transform: uppercase;
    color: #fff;
    margin: 8px 0;
    left: 0;
    width: 40%;
} */

:global(.daterange-component .m-calendar .current-day){
    color: #5ccdde;
}

:global(.daterange-component .m-calendar .current-day):hover{
    color: #fff;
}

:global(.daterange-component .showtime){
    padding: 40px 0 30px;
}

/* :global(.m-time .sliders){
    background: #5ccdde;
    padding: 10px 15px !important;
    display: flex;
    flex-wrap: wrap;
} */