@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';

.radio {
    display: flex;
    border-radius: 8px;
    color: var(--checkRadioGrey);
    transition: 0.3s;
}

.vertical {
    display: flex;
    flex-direction: row;
}

.disabledRadio, .disabledRadio label span, .disabledRadio label, .disabledRadio.radio:hover {
    cursor: not-allowed;
    color: var(--disabledCheckRadio);
}

.radio span {
    vertical-align: sub;
    cursor: pointer;
    /*font-size: 14px;*/
    font-size: 0.875rem;
    margin-left: 10px;
}

.radio input[type='radio'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    appearance:none;
    cursor: pointer;
    width:22px;
    height:22px;
    background: #fff;
    border-radius:50%;
    border:1px solid var(--moosendBlue);
    border-radius:50%;
    outline: none;
}

.radio input[type='radio']:hover {
    box-shadow:0 0 3px 0px var(--moosendBlue) inset;
}

.radioChecked input[type='radio']:before {
    background:var(--moosendBlue);
    content:'';
    display:block;
    width: 8px;
    height: 8px;
    border-radius:50%; 
}

.radioChecked input[type='radio']{
    box-shadow:0 1px 2px 0px var(--moosendBlue) inset; 
}

.disabledRadio input[type='radio']:disabled {
    cursor: not-allowed;
    border: 1px solid var(--disabledCheckRadio);
    box-shadow:0 0 3px 0px var(--disabledCheckRadio) inset;
}

@media (--xSmall){
    .vertical{
        flex-direction: column;
    }

    .radio{
        margin-bottom: 10px;
    }

    .radio span{
        vertical-align: sub;        
    }

}
