@import '../_utils/globals/screens.css';

.container{
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

}

.message{
    text-align: center;
    color: #ffffff;
    align-self: center;
    font-size: 18px;
    flex:7 1 auto;
}

.buttonContainer{
    flex:3 1 auto;
}

.close{
    padding:20px;
    height:65px;
    width:65px;
    flex:0 1 auto;
}

.close div{
    background-image: url('assets/images/icons/notifications/icon-close.png');
    width:25px;
    height:25px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
}

.message span{
    vertical-align: middle;
}

.iconDiv{
    vertical-align: middle;
    margin-right:10px;
    width:25px;
    height:25px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}

.content{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 25px 0px;
}

.active{
    max-height: 200px;
    transition: max-height 1s ease;
}

.inactive{
    max-height: 0;
    transition: max-height 0.5s ease;
}

.successNotification{
    background: #accc14;
}

.errorNotification{
    background: #e16053;
}

.customNotification {
    background: #2d2d2d
}

.successNotification .iconDiv{
    background-image: url('assets/images/icons/notifications/icon-success.png');
}

.errorNotification .iconDiv{
    background-image: url('assets/images/icons/notifications/icon-error.png');
}

@media (--deviceXsmall){

    .message{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .close{
        flex-direction: column;
        align-items: center;
        height: 5vw;
        width: 5w;
        padding: 0px;
        flex: 1;
    }  

     .close div{
        height: 5vw;
        width: 5vw;
        margin-right: 4vw;
    }  

     .iconDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 6vw;
        height: 6vw;
    }
    
    .content{
        flex-direction: column;
        align-items: center;
        flex: 7;
        padding: 20px 10px 20px 20px;
    }

    .active{
        max-height: 100%;
    }

    .buttonContainer{
        margin-top: 10px;
    }

}

@media (--deviceSmall){
    
    .message{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .close{
        flex-direction: column;
        align-items: center;
        height: 5vw;
        width: 5w;
        padding: 0px;
        flex: 1;
    }  

     .close div{
        height: 5vw;
        width: 5vw;
        margin-right: 4vw;
    }  

     .iconDiv{
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 6vw;
        height: 6vw;
    }
    
    .content{
        flex-direction: column;
        align-items: center;
        flex: 7;
        padding: 20px 10px 20px 20px;
    }

    .active{
        max-height: 100%;
    }

    .buttonContainer{
        margin-top: 10px;
    }

}
