@import '../_utils/globals/screens.css';

.container{
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    display:flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    transition: height 200ms linear;
}

.message{
    text-align: center;
    color: #ffffff;
    align-self: center;
    font-size: 18px;
    flex:7 1 auto;
}

.buttonContainer{
    flex:3 1 auto;
}

.close{
    padding:20px;
    height:65px;
    width:65px;
    flex:0 1 auto;
}

.close div{
    background-image: url('assets/images/icons/notifications/icon-close.png');
    width:25px;
    height:25px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
}

.message span{
    vertical-align: middle;
}

.iconDiv{
    vertical-align: middle;
    margin-right:10px;
    width:25px;
    height:25px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}

.content{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.active{
    height: 80px;
}

.successNotification{
    background: #accc14;
}

.errorNotification{
    background: #e16053;
}

.customNotification {
    background: #2d2d2d
}

.successNotification .iconDiv{
    background-image: url('assets/images/icons/notifications/icon-success.png');
}

.errorNotification .iconDiv{
    background-image: url('assets/images/icons/notifications/icon-error.png');
}

@media (--deviceXsmall){

    .message{
        font-size: 5vw;
        flex: 9;
    }

    .close{
        flex-direction: column;
        align-items: center;
        height: 5vw;
        width: 5w;
        padding: 0px;
    }  

     .close div{
        margin-right: -10px;
        height: 5vw;
        width: 5vw;
    }  

     .iconDiv{
        width: 5vw;
        height: 5vw;
    }
    
    .content{
        flex-direction: column;
        align-items: center;
    }

    .active{
        height: 20vw;
    } 

}

@media (--deviceSmall){
    
    .message{
        font-size: 5vw;
        flex: 9;
    }

    .close{
        flex-direction: column;
        align-items: center;
        height: 5vw;
        width: 5w;
        padding: 0px;
    }  

     .close div{
        margin-right: -10px;
        height: 5vw;
        width: 5vw;
    }  

     .iconDiv{
        width: 5vw;
        height: 5vw;
    }
    
    .content{
        flex-direction: column;
        align-items: center;
    }

    .active{
        height: 20vw;
    } 
}
