@import '../_utils/globals/screens.css';

.container{
    z-index: 130;
    position: fixed;
    top: -80px;
    left: 0;
    right: 0;
    display:flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease;
    max-height: 80px;
    min-height: 80px;
}

.message{
    text-align: center;
    display: flex;
    align-items: center;
    color: #ffffff;
    align-self: center;
    font-size: 18px;
    flex:7 1 auto;
    justify-content: center;
}

.buttonContainer{
    flex:3 1 auto;
}

.close{
    display: flex;
    flex-basis: 80px;
    justify-content: center;
    align-items: center;
}

.message span{
    vertical-align: middle;
}

.content{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.active{
    top: 0px;
}

.inactive{
    top: -80px;
}

.successNotification{
    background: #accc14;
}

.errorNotification{
    background: #e16053;
}

.customNotification {
    background: #2d2d2d;
}

@media (--deviceXsmall){

    .message{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .close{
        flex-direction: column;
        align-items: center;
        height: 5vw;
        width: 5w;
        padding: 0px;
        flex-grow: 1;
        flex-shrink: 1;
    }  

     .close div{
        height: 5vw;
        width: 5vw;
        margin-right: 4vw;
    }  

     .iconDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 6vw;
        height: 6vw;
    }
    
    .content{
        flex-direction: column;
        align-items: center;
        flex: 7;
    }

    .active{
        max-height: 100%;
    }
}

@media (--deviceSmall){
    
    .message{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .close{
        flex-direction: column;
        align-items: center;
        height: 5vw;
        width: 5w;
        padding: 0px;
        flex-grow: 1;
    flex-shrink: 1;
    }  

     .close div{
        height: 5vw;
        width: 5vw;
        margin-right: 4vw;
    }  

     .iconDiv{
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 6vw;
        height: 6vw;
    }
    
    .content{
        flex-direction: column;
        align-items: center;
        flex: 7;
    }

    .active{
        max-height: 100%;
    }

}
