@import '../_utils/globals/variables.css';
@import '../_utils/globals/screens.css';


.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paginationInner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
}

.paginationButton{
    width: 40px;
    height:40px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--inputFontColor);
    border-radius: 3px; 
    user-select: none;
    font-size: 14px;
}

.paginationButton:hover{
    background: #eee;
}

.activeButton {
    background: var(--moosendBlue);
    color: #fff;
}

.inverseActive {
    color: var(--moosendBlue);
}

.activeButton:hover{
    background: var(--moosendBlue);
}

.disabledButton {
  pointer-events: none;
}

.inverseButton{
    width: unset;
    height: unset;
    margin: 0 5px;
}

@media (--xSmall){

    .itemButton{
        display: none;
    }

    .disabledButton{
        display: none;
    }

    .activeButton{
        display: inherit;
    }

}