.row {
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
    flex-basis: 50%;
}

.col {
    flex: 1;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

@media screen and (min-width: 500px){
    .row {display: flex; flex-direction: row};
}