.row {
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
    flex-basis: 50%;
}

.col {
    flex: 1;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col1 {
    flex: 1;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col2 {
    flex: 2;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col3 {
    flex: 3;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col4 {
    flex: 4;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col5 {
    flex: 5;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col6 {
    flex: 6;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col7 {
    flex: 7;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col8 {
    flex: 8;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col9 {
    flex: 9;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col10 {
    flex: 10;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col11 {
    wflex: 11;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}

.col12 {
    flex: 12;
    margin: .6em;
    padding: .6em;

    border: 2px solid black;
}


@media screen and (min-width: 500px){
    .row {display: flex; flex-direction: row};
}