@import url('https://fonts.googleapis.com/css?family=Convergence');

.h3 {
    font-family: 'Convergence', sans-serif;
    /*font-size: 17px;*/
    font-size: 1.063rem;
    font-weight: 400;
    color: #3a4257;
}