@import url('https://fonts.googleapis.com/css?family=Convergence');
@import '../../_utils/globals/variables.css';
@import '../../_utils/globals/screens.css';

.h3 {
    font-family: 'Convergence', sans-serif;
    /*font-size: 17px;*/
    font-size: 1.063rem;
    font-weight: 400;
    color: var(--heading);
}

@media (--deviceSmall){
    .h3 {
        font-size: 3.3vw;
    }
}

@media (--deviceXsmall){
    .h3 {
        font-size: 3.3vw;
    }
}