@import url('https://cdn.moostaging.com/assets/fonts/google-web-fonts/fonts.css');
@import '../../_utils/globals/variables.css';

.h3 {
    font-family: 'Convergence', 'Alegreya Sans', sans-serif;
    /*font-size: 17px;*/
    font-size: 1.063rem;
    color: var(--smallHeading);
    margin: 19px 0;
}